<template>
  <div id="app">
    <!--    
    Imports components to app.vue parent class.
    This class is the parent object of all componenents.
    Only the interfaces with their assigned boolean set to true are displayed
    This class is called as the first component to load all interfaces. 
    All userdata is collected in this class and finally send to the server.
    -->    
    <Login v-if="showLogin" :url="url" :language="language" />
    <CreateAccount v-if="showCreateAccount" :url="url" :language="language" />
    <AccountReset v-if="showAccountReset" :url="url" :language="language" />
    <Adminpage v-if="showAdminpage" :language="language" />
    <CreateGroup v-if="showCreateGroup" :url="url" :language="language" />
    <Archive v-if="showArchive" :url="url" :language="language" />
    <ItemCreation v-if="showItemCreation" :url="url" :language="language" />
    <LiveResult v-if="showLiveResult" :lastPage="lastPage" :url="url" :language="language" />
    <ReadDatabase v-if="showReadDatabase" :url="url" :language="language" />
    <Homepage v-if="showHomepage" :language="language" />
    <Greeting
      v-if="showGreeting"
      :language="language"
      :identification="identification"
      :groupID="groupID"
      :validDate="validDate"
      :url="url"
    />
    <Experience v-if="showExperience" :language="language" />
    <Usecases v-if="showUsecases" :language="language" />
    <AssignmentsExplanation v-if="showAssignmentsExplanation" :language="language" />
    <Assignments v-if="showAssignments" :url="url" :language="language" />
    <Information v-if="showInformation" :language="language" />
    <Results
      v-if="showResults"
      :language="language"
      :usedTime="usedTime"
      :skillComparison="skillComparison"
      :feedback="feedback"
      :skillText="skillText"
    />
    <AccountRegistration v-if="showRegistration" :url="url" :language="language" />
  </div>
</template>

<script>
//import all components and used packages
import Login from "./components/Login.vue";
import CreateAccount from "./components/CreateAccount.vue";
import AccountReset from "./components/AccountReset.vue";
import Adminpage from "./components/Adminpage.vue";
import CreateGroup from "./components/CreateGroup.vue";
import LiveResult from "./components/LiveResult.vue";
import Archive from "./components/Archive.vue";
import ItemCreation from "./components/ItemCreation.vue";
import ReadDatabase from "./components/ReadDatabase.vue";
import Homepage from "./components/Homepage.vue";
import Greeting from "./components/Greeting.vue";
import Experience from "./components/Experience.vue";
import Usecases from "./components/Usecases.vue";
import AssignmentsExplanation from "./components/AssignmentsExplanation.vue";
import Assignments from "./components/Assignments.vue";
import Information from "./components/Information.vue";
import Results from "./components/Results.vue";
import AccountRegistration from "./components/AccountRegistration.vue";
import axios from "axios";
import jsonData from "./data/db.json";

//api URLs
const baseURL = "usertemplate";
const userData = "userdata";
const finalDifficultys = "userData/final_difficulty";
const deleteToken = "token/";
const updateParticipants = "groupParticipants/";
const dates = "groupListDates/";

var startTime = 0;
var endTime = 0;

export default {
  name: "app",
  components: {
    Login,
    CreateAccount,
    AccountReset,
    Adminpage,
    CreateGroup,
    Archive,
    ItemCreation,
    LiveResult,
    ReadDatabase,
    Homepage,
    Greeting,
    Experience,
    Usecases,
    AssignmentsExplanation,
    Assignments,
    Information,
    Results,
    AccountRegistration
  },

  data() {
    return {
      showLogin: false,
      showCreateAccount: false,
      showAccountReset: false,
      showAdminpage: false,
      showCreateGroup: false,
      showArchive: false,
      showItemCreation: false,
      showLiveResult: false,
      showReadDatabase: false,
      showHomepage: true,
      showGreeting: false,
      showExperience: false,
      showUsecases: false,
      showAssignmentsExplanation: false,
      showAssignments: false,
      showInformation: false,
      showResults: false,
      showRegistration: false,
      userTemplate: [],
      usedTime: [],
      difficultysDB: [],
      skillComparison: [],
      postDifficulty: {},
      identification: 0,
      feedback: 0,
      groupID: 0,
      elementName: "",
      language: "GER",
      lastPage: [],
      testDate: [],
      validDate: true,
      skillText: [],
      url: "",
      modules: [1, 1, 1, 1],
      tmp: []
    };
  },

  /*
  When the application is started call used data from server.
  If the user completes the test in a specific testgroup skip the homepage and show test.
  */
  async created() {
    try {
      this.url = jsonData.url.data;

      const res = await axios.get(this.url + baseURL);
      const res2 = await axios.get(this.url + finalDifficultys);

      this.userTemplate = res.data;
      this.difficultysDB = res2.data.users;

      var tmp = this.difficultysDB;

      this.difficultysDB = tmp;

      //check for specific test group or account actions
      if (window.location.href.includes("emailRegistration")) {
        this.accountRegistration();
      } else if (window.location.href.includes("newPassword")) {
        this.newPassword();
      } else if (window.location.href.slice(-1) != "/") {
        this.start();
      }
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //called by interface to set new language
    changeLanguage(lang) {
      this.language = lang;
    },

    /*
    Called upon starting the test.
    Show greeting and for test group parameters.
    If email identification is used set identification in userdata
    */
    start() {
      //show next page
      this.showHomepage = !this.showHomepage;
      this.showGreeting = !this.showGreeting;
      var testURL = window.location.href;

      startTime = performance.now();

      //check for specific url endings
      if (
        testURL.slice(-1) == "/" ||
        testURL.includes("emailRegistration") ||
        testURL.includes("newPassword")
      ) {
        this.$set(this.userTemplate.user, "groupID", 0);
        this.$set(this.userTemplate.user, "identificationNumber", 0);
        this.$set(this.userTemplate.user, "identificationMail", "");
      //if group detected set group parametes in application to fit test to parameters
      } else {
        var group = testURL.split("?");
        this.identification = group[1];
        this.feedback = group[2];
        this.groupID = group[3];
        this.$set(this.userTemplate.user, "groupID", group[3]);
        this.modules = group[4].split("");

        //when email identification detected set id in userdata
        if(this.identification == 5) {
          this.$set(this.userTemplate.user, "identificationMail", group[5]);
        } else {
          this.$set(this.userTemplate.user, "identificationMail", "");
        }

        //check for limited test date, when not in specified time from of group reject test start
        axios.get(this.url + dates + this.groupID).then(response => {
          this.testDate = response.data.value;

          if (this.checkDates() == true) {
            this.validDate = true;
          } else {
            this.validDate = false;
          }
        });
      }
    },

    /*
    Compare system date and date of test group.
    If no limited time frame was detected the function returns true.
    */
    checkDates() {
      var date = new Date();

      //get system date
      var created = [date.getFullYear(), date.getMonth() + 1, date.getDate()];
      var start = this.testDate.start.split(".").map(function(item) {
        return parseInt(item, 10);
      });
      start.reverse();
      var end = this.testDate.end.split(".").map(function(item) {
        return parseInt(item, 10);
      });
      end.reverse();

      //check for start of time frame
      if (start[0] > created[0]) {
        return false;
      } else if (start[1] > created[1] && start[0] == created[0]) {
        return false;
      } else if (start[2] > created[2] && start[1] == created[1]) {
        return false;
      }

      //check for end of time frame
      if (end[0] < created[0]) {
        return false;
      } else if (end[1] < created[1] && end[0] == created[0]) {
        return false;
      } else if (end[2] < created[2] && end[1] == created[1]) {
        return false;
      }

      return true;
    },

    //called after greeting to show experience screen and set identification in userdata
    experience(identificationNumber) {
      this.showGreeting = false;
      this.$set(this.userTemplate.user, "identificationNumber", identificationNumber);
      if (this.modules[0] == 1) {
        this.showExperience = true;
      } else {
        this.usecases(0, 0);
      }
    },

    //called after experience component and set experience in userdata
    usecases(firstUsed, useTime) {
      this.showGreeting = false;
      if (this.modules[1] == 1) {
        this.$set(this.userTemplate.user, "firstUsed", firstUsed);
        this.$set(this.userTemplate.user, "useTime", useTime);

        this.showExperience = false;
        this.showUsecases = true;
      } else {
        this.showExperience = false;
        this.assignmentsExplanation(0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
      }
    },

    //called after usecases component and set usecases in userdata
    assignmentsExplanation(
      textediting,
      spreadsheets,
      presentation,
      pictureediting,
      coding,
      gaming,
      email,
      internetsurfing,
      informationgathering,
      onlineshopping,
      onlinebanking
    ) {
      this.$set(this.userTemplate.user, "textediting", textediting);
      this.$set(this.userTemplate.user, "spreadsheets", spreadsheets);
      this.$set(this.userTemplate.user, "presentation", presentation);
      this.$set(this.userTemplate.user, "pictureediting", pictureediting);
      this.$set(this.userTemplate.user, "coding", coding);
      this.$set(this.userTemplate.user, "gaming", gaming);
      this.$set(this.userTemplate.user, "email", email);
      this.$set(this.userTemplate.user, "internetsurfing", internetsurfing);
      this.$set(
        this.userTemplate.user,
        "informationgathering",
        informationgathering
      );
      this.$set(this.userTemplate.user, "onlineshopping", onlineshopping);
      this.$set(this.userTemplate.user, "onlinebanking", onlinebanking);

      this.showUsecases = false;
      this.showAssignmentsExplanation = true;
    },

    //called after assignments component
    assignments() {
      (this.showAssignmentsExplanation = !this.showAssignmentsExplanation),
        (this.showAssignments = !this.showAssignments);
    },

    //calculate position of test user in ranking after test and show result in "user betten then X% of all users"
    information(difficulty) {
      var counter = 0;
      var difs = this.difficultysDB;

      this.$set(this.userTemplate.user, "final_Difficulty", difficulty); //this not
      this.$set(this.postDifficulty, "difficulty", difficulty); //encrypt this

      Object.keys(this.difficultysDB).map(function(key) {
        //loop through items
        if (difs[key].final_Difficulty < difficulty) {
          counter++;
        }
      });

      this.skillComparison = counter;

      //calculate % value of comparison
      this.skillComparison = (
        (this.skillComparison / this.difficultysDB.length) *
        100
      ).toFixed(2);

      //choose short feedback text based on test result
      if (this.postDifficulty.difficulty < -2) {
        this.skillText = 0;
      } else if (this.postDifficulty.difficulty < -1) {
        this.skillText = 1;
      } else if (this.postDifficulty.difficulty < 0) {
        this.skillText = 2;
      } else if (this.postDifficulty.difficulty < 1) {
        this.skillText = 3;
      } else if (this.postDifficulty.difficulty < 2) {
        this.skillText = 4;
      } else {
        this.skillText = 5;
      }

      this.showAssignments = !this.showAssignments;
      if (this.modules[2] == 1) {        
        this.showInformation = !this.showInformation;
      } else {
        this.results("na", 0);
      }
    },

    /*
    Called after finishing test, show results.
    Set gender and age in userdata.
    Calculate time used for test minutes and seconds.
    Post result to server.
    */
    results(gender, age) {
      this.$set(this.userTemplate.user, "gender", gender);
      this.$set(this.userTemplate.user, "age", age);

      endTime = performance.now();

      var finalTime = (endTime - startTime) / 1000;

      var minutes = Math.floor(finalTime / 60);
      var seconds = Math.floor(finalTime - minutes * 60);

      if (seconds >= 10) {
        this.usedTime = minutes + ":" + seconds;
      } else {
        this.usedTime = minutes + ":0" + seconds;
      }

      finalTime.toFixed(2);

      //finalTime = encryptor.encrypt(finalTime);

      this.$set(this.userTemplate.user, "time", finalTime);

      axios.post(this.url + userData, this.userTemplate.user);
      axios.patch(this.url + updateParticipants + this.groupID);

      this.showInformation = false;
      this.showResults = true;
    },

    //show login component
    login() {
      this.showHomepage = !this.showHomepage;
      this.showLogin = !this.showLogin;
    },

    //show createAccount component
    createAccount() {
      this.showLogin = !this.showLogin;
      this.showCreateAccount = !this.showCreateAccount;
    },

    //show adminpage component
    adminArea() {
      this.showLogin = !this.showLogin;
      this.showAdminpage = !this.showAdminpage;
    },

    //show createGroup component
    createGroup() {
      this.showAdminpage = !this.showAdminpage;
      this.showCreateGroup = !this.showCreateGroup;
    },

    //show archive component
    archive() {
      this.showAdminpage = !this.showAdminpage;
      this.showArchive = !this.showArchive;
    },

    //show itemCreation component
    itemCreation() {
      this.showAdminpage = !this.showAdminpage;
      this.showItemCreation = !this.showItemCreation;
    },

    //show liveResult component from createGroup
    liveResultItemCreation() {
      this.lastPage = "group";
      this.showCreateGroup = !this.showCreateGroup;
      this.showLiveResult = !this.showLiveResult;
    },

    //show liveResult component form archive
    liveResultArchive() {
      this.lastPage = "archive";
      this.showArchive = !this.showArchive;
      this.showLiveResult = !this.showLiveResult;
    },

    //show readDatabase component
    readDatabase() {
      this.showAdminpage = !this.showAdminpage;
      this.showReadDatabase = !this.showReadDatabase;
    },

    //show homepage component
    returnHomepage() {
      axios.delete(this.url + deleteToken + this.$store.state.userID);

      this.showAdminpage = !this.showAdminpage;
      this.showHomepage = !this.showHomepage;
    },

    //show adminpage component
    returnAdminAreaFromGroup() {
      this.showCreateGroup = !this.showCreateGroup;
      this.showAdminpage = !this.showAdminpage;
    },

    //show account registration component
    accountRegistration() {
      this.showHomepage = !this.showHomepage;
      this.showRegistration = !this.showRegistration;
    },

    //show accountReset component
    newPassword() {
      this.showHomepage = !this.showHomepage;
      this.showAccountReset = !this.showAccountReset;
    },

    //remove session token from database
    clearToken() {
      axios.delete(this.url + deleteToken + this.$store.state.userID);
    }
  }
};
</script>

<style>
@import "./assets/style/global.css";

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
