<template>
  <!--
  This component is used to change the password of an account.
  After setting a new password send the password to the server and confirm new password.
  -->
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <p class="text-instruction" v-for="element of content" :key="element">{{element}}</p>

    <v-text-field
      v-model="password"
      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show1 ? 'text' : 'password'"
      v-on:keyup="checkInput"
      class="textArea"
      :label = messages.password
      @click:append="show1 = !show1"
    ></v-text-field>

    <v-text-field
      v-model="passwordRepeat"
      :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show2 ? 'text' : 'password'"
      v-on:keyup="checkInput"
      class="textArea"
      :label = messages.passwordRepeat
      @click:append="show2 = !show2"
    ></v-text-field>

    <v-btn id="nextButton" @click="nextPage">{{messages.button}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import content and axios to send data
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import axios from "axios";

//api URL
const baseURL = "passwordReset/";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      snackbar: false,
      snackTxt: "",
      head: [],
      content: [],
      messages: [],
      elementName: "",
      password: "",
      passwordRepeat: "",
      username: [],
      show1: false,
      show2: false,
    };
  },

  //load used content used in interface
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.passwordReset.head;
        this.content = res.elements.passwordReset.content;
        this.messages = res.elements.passwordReset.messages;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.passwordReset.head;
        this.content = resEng.elements.passwordReset.content;
        this.messages = resEng.elements.passwordReset.messages;
      }      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //when enter is pressed call function
    checkInput: function(e) {
      if (e.keyCode == 13) {
        this.nextPage();
      }
    },

    /*
    Check input data for new password and compare password inputs.
    If the data is valid create new encryption key for account and send key and password to server
    */
    nextPage() {
      //get account id
      this.username = window.location.href.split("?");
      this.username = this.username[2];

      //check repitition of new password, when correct generate hash key
      if (this.password == this.passwordRepeat) {
        var result = "";
        var characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var length = 32;
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(
            Math.floor(Math.random() * charactersLength)
          );
        }

        //encrypt password with new hash key
        var encryptor = require("simple-encryptor")(result);
        var hash = encryptor.encrypt(this.password);

        //send new password and hash key to server with user id to set data for account with specified id
        axios.patch(this.url + baseURL + this.username + "/" + hash + "/" + result).then(response => {
          if (response.data.message == "success") {
            this.snackTxt = this.messages.passwordChanged;
            this.snackbar = true;
          } else {
            this.snackTxt = this.messages.passwordNotChanged;
            this.snackbar = true;
          }
        });
        //reject input when repitition of password incorrect
      } else {
        this.snackTxt = this.messages.badRepeat;
        this.snackbar = true;
      }
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>