<template>
  <!--
  After creating an account and following the activation link in the email show this component
  Activates the account and lets the user return to homepage
  -->
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <p class="text-instruction" v-for="element of content" :key="element">{{element}}</p>

    <v-btn id="nextButton" @click="nextPage">{{button.returnHomepage}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import content and axios to send data
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import axios from "axios";

//api URLs
const baseURL = "accountActivation/";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      snackbar: false,
      snackTxt: "",
      head: [],
      content: [],
      button: [],
      elementName: "",
    };
  },

  //import content for interface and verify account
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.registration.head;
        this.content = res.elements.registration.content;
        this.button = res.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.registration.head;
        this.content = resEng.elements.registration.content;
        this.button = resEng.buttons;
      }      

      var elements = window.location.href.split("?")

      //activate account
      axios.patch(this.url + baseURL + elements[2] + "/" + elements[3]);
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //return to homepage
    nextPage() {
      this.$parent.accountRegistration();
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>