<!--
After login show this component.
Acts as navigation to group creation and archive, can also return to homepage
-->
<template>
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
        <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-btn id="adminButton" @click="createGroup">{{content.createGroup}}</v-btn> 
    <v-spacer></v-spacer>
    <v-btn id="adminButton" @click="showArchive">{{content.archive}}</v-btn> 
    <v-spacer></v-spacer>
    <v-btn id="adminButton" v-if="permission" @click="itemCreation">{{content.createItem}}</v-btn> 
    <v-spacer></v-spacer>
    <v-btn id="adminButton" v-if="permission" @click="readDatabase">{{content.readDatabase}}</v-btn>
    <v-spacer></v-spacer>
    <v-btn id="adminButton" @click="homepage">{{content.homepage}}</v-btn>
  </div>
</template>

<script>
//import language packs
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

export default {
  name: "app",
  props: {
    language: String
  },
  data() {
    return {
      content: [],
      permission: false,
      tokenValue: 0,
      head: [],
      elementName: ""
    };
  },

  //check for permission level of user, if level is 2 show admin functions
  created() {
    if (this.language == "GER") {
        this.head = res.elements.adminPage.head;
        this.content = res.elements.adminPage.content;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.adminPage.head;
        this.content = resEng.elements.adminPage.content;
      }

    if(this.$store.state.permission == 2) {
      this.permission = true;
    }
  },

  methods: {
    //call parent object to show createGroup compenent
    createGroup() {
      this.$parent.createGroup();
    },

    //call parent object to show archive compenent
    showArchive() {
      this.$parent.archive();
    },

    //call parent object to show itemCreation compenent
    itemCreation() {
      this.$parent.itemCreation();
    },

    //call parent object to show readDatabase compenent
    readDatabase() {
      this.$parent.readDatabase();
    },

    //call parent object to show homepage compenent
    homepage() {
      this.$parent.returnHomepage();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
