<template>
<!--
The archive is used to show users test groups.
Displays only the groups created by the logged in user.
To show the data a table structure is used. This structure is defined through the vuetify grid system and cards.
This structure makes it possible to expand each table entry and show further information.
In the table buttons are implemented to call function on the specified group.
-->
  <div data-app class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <!--Example row, show all parametes of the table-->
    <v-container class="archiveGrid">
      <v-row no-gutters class="archiveRow">
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.name}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.participants}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.created}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.start}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.end}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.identification}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.feedback}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard-Double">
            {{content.link0}}
            <br />{{content.link1}}
          </v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard">{{content.details}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard-example">{{content.downloadResult}}</v-card>
        </v-col>
      </v-row>
      <!--load data for table from variable. Data can be changed dynamically-->
      <v-row v-for="(n, index) in showGroup" :key="n" no-gutters class="archiveRow">
        <v-col class="customCol">
          <v-card
            :class="[showExpand[index + flag * 6]?'archiveCard-startExpanded':'archiveCard-start']"
            :key="n"
            @mouseover="showFullName(index)"
          >{{n.groupShort}}          
          </v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.participants}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.created}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.start}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.end}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.identification}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-card class="archiveCard" :key="n">{{n.feedback}}</v-card>
        </v-col>
        <v-col class="customCol">
          <v-btn id="archiveButtonLive" @click="copyLink(index)">{{content.link}}</v-btn>
        </v-col>
        <v-col class="customCol">
          <v-btn id="archiveButtonLive" @click="expandGroup(index)">{{content.details}}</v-btn>
        </v-col>
        <v-col class="customCol">
          <v-btn
            :id="[showExpand[index + flag * 6]?'archiveButtonExpanded':'archiveButton']"
            @click="getData(index)"
          >{{content.download}}</v-btn>
        </v-col>
        <!--Expand row to show further details. Contains histogram with filters and buttons-->
        <v-col>
          <v-card class="archiveCard-expand" v-if="showExpand[index + flag * 6]">
            <v-row>
              <v-col cols="12" sm="2">
                {{content.parameter}}
                <v-tooltip right color="#404040">
                  <template v-slot:activator="{ on }">
                    <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
                  </template>
                  <span>
                    {{content.parameterHint0}}
                    <br />{{content.parameterHint1}}
                  </span>
                </v-tooltip>                
                <v-radio-group class="radio" v-model="selector">
                  <v-radio :label = content.parameter0 value="0" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter1 value="1" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter2 value="2" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter3 value="3" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter4 value="4" color="#ff6600"></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12" sm="4">
                <HistogramSlider
                  v-if="showHistogram"
                  :key="histogramKey"
                  class="histogram"
                  :width="550"
                  :bar-height="barHeight"
                  :data="data"
                  :drag-interval="true"
                  :force-edges="false"
                  barRadius="2"
                  barHeight="120"
                  :colors="['#004b5a', '#004b5a']"
                  labelColor="#ff6600"
                  primaryColor="#ff6600"
                  :min="min"
                  :max="max"
                  v-on:finish="updateFilter"
                />
                <p v-if="!showHistogram" class="text-instructionHistogram">{{content.noParticipant}}</p>
              </v-col>
              <v-col cols="12" sm="3">
                {{content.gender}}
                <v-tooltip right color="#404040">
                  <template v-slot:activator="{ on }">
                    <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
                  </template>
                  <span>
                    {{content.parameterHint2}}
                    <br />{{content.parameterHint3}}
                  </span>
                </v-tooltip>
                <v-radio-group class="radio" v-model="gender">
                  <v-radio :label = content.parameter5 value="0" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter6 value="1" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter7 value="2" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter8 value="3" color="#ff6600"></v-radio>
                  <v-radio :label = content.parameter9 value="4" color="#ff6600"></v-radio>
                </v-radio-group>
              </v-col>
              <v-col cols="12" sm="3">
                <v-menu
                  v-model="menuEnd"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      class="dateInput"
                      v-model="dateEnd"
                      :label = content.end
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="dateEnd" @input="menuEnd = false" color="#FF6600"></v-date-picker>
                </v-menu>
                <v-btn id="expandButton" @click="updateEnd(index)">{{content.confirmEnd}}</v-btn>
                <v-btn id="expandButton" @click="liveResult(index)">{{content.liveResult}}</v-btn>
                <v-btn id="expandButton" @click="overlayUpdate(index)">{{content.deleteGroup}}</v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <!--arrow left and right to navigate through table pages-->
    <v-btn id="archivePageButtonLeft" @click="elementsBackward">
      <v-icon dark v-on="on">mdi-arrow-left</v-icon>
    </v-btn>
    {{start}} - {{end}}
    <v-btn id="archivePageButtonRight" @click="elementsForward">
      <v-icon dark v-on="on">mdi-arrow-right</v-icon>
    </v-btn>
    <v-spacer></v-spacer>
    <v-btn id="nextButton" @click="nextPage">{{buttons.returnAdmin}}</v-btn>

    <v-overlay :value="overlay">
      <v-btn id="expandButton" @click="deleteGroup()">{{content.confirmDelete}}</v-btn>
    </v-overlay>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import axios to create requests
import axios from "axios";
import data from "../data/db.json";
import resEng from "../data/dbEng.json";

//define URLs used for requests
const groupURL = "groupList/";
const downloadURL = "userdata/";
const patchEnd = "groupList/end/";
const deleteGroup = "groupList/delete/";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      head: [],
      content: [],
      messages: [],
      buttons: [],
      deleteHold: [],
      overlay: false,
      snackbar: false,
      snackTxt: "",
      expandedMenu: 0,
      menuEnd: false,
      dateEnd: new Date().toISOString().substr(0, 10),
      showHistogram: true,
      barHeight: 120,
      histogramKey: 0,
      elementName: "",
      groups: [],
      start: 1,
      end: 6,
      flag: 0,
      showGroup: [],
      groupData: [],
      showExpand: [],
      selector: "0",
      data: [],
      dataBackup: [],
      min: -3,
      max: 3,
      gender: "0",
      filter: {
        firstUsedMin: 0,
        firstUsedMax: 100,
        useTimeMin: 0,
        useTimeMax: 168,
        final_DifficultyMin: -3,
        final_DifficultyMax: 3,
        timeMin: 0,
        timeMax: 9999,
        ageMin: 0,
        ageMax: 100
      }
    };
  },

  /*
  watch functions used to call logic upon change of variable value.
  The variables are linked to the interface and change depending on the group types.
  */
  watch: {
    /*    
    The value range of the histogram in the details is fitted to the chosen parameter to be displayed.
    Each paramter uses its own bounds for the histogram, parameter are represented through val.
    0 = level of digital competences between -3 and 3
    1 = use time of digital devices per week, between 0 and 168 hours
    2 = first time used a digital device, between 0 and 100 years
    3 = time used to complete test, between shortest and longest completion time in group in seconds
    4 = age of the test users, between 0 and 100 years
    */
    selector: function(val) {
      var tmpData = [];
      var tmpGroupData = this.groupData;
      var min = 0;
      var max = 0;
      if (val == "0") {
        Object.keys(tmpGroupData).map(function(key) {
          tmpData.push(tmpGroupData[key].final_Difficulty);
          min = -3;
          max = 3;
        });
      } else if (val == "1") {
        Object.keys(tmpGroupData).map(function(key) {
          tmpData.push(tmpGroupData[key].useTime);
          min = 0;
          max = 168;
        });
      } else if (val == "2") {
        Object.keys(tmpGroupData).map(function(key) {
          tmpData.push(tmpGroupData[key].firstUsed);
          min = 0;
          max = 100;
        });
      } else if (val == "3") {
        Object.keys(tmpGroupData).map(function(key) {
          tmpData.push(tmpGroupData[key].time);
          min = 0;
          if (tmpGroupData[key].time > max) {
            max = tmpGroupData[key].time;
          }
        });
      } else if (val == "4") {
        Object.keys(tmpGroupData).map(function(key) {
          tmpData.push(tmpGroupData[key].age);
          min = 0;
          max = 100;
        });
      }

      this.data = tmpData;
      this.dataBackup = tmpData;
      this.min = min;
      this.max = max;

      this.updateGender(this.gender);
    },

    //second filter using gender as parameter
    gender: function(val) {
      this.updateGender(val);
    }
  },

  /*
  When the component is created get groups of user and set the data for the table.
  Set variable to actual date used when changing final date of group
  */
  async created() {
    try {
      if (this.language == "GER") {
        this.head = data.elements.archive.head;
        this.content = data.elements.archive.content;
        this.messages = data.elements.archive.messages;
        this.buttons = data.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.archive.head;
        this.content = resEng.elements.archive.content;
        this.messages = resEng.elements.archive.messages;
        this.buttons = resEng.buttons;
      }

      const res = await axios.get(
        this.url + groupURL + this.$store.state.userID + "/" + this.$store.state.token
      );

      //set up group data for display
      this.groups = res.data.users;

      if (this.groups.length == 0) {
        this.start = 0;
      }

      if (this.groups.length < 6) {
        this.end = this.groups.length;
      }

      var tmpGroups = this.groups;

      var date = new Date();
      var today =
        date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
      var yesterday =
        date.getDate() - 1 + "." + date.getMonth() + "." + date.getFullYear();

      //set up group details display, in the beginning all details hidden
      var i = 0;
      for (i; i < tmpGroups.length; i++) {
        this.showExpand.push(false);
      }

      if(this.language == "GER") {
      /*
      The idenfification and feedback are represented through integer values.
      These values dont help the user in the display, so they are changed to strings representing the values
      These values are defined through the group creation component
      */
      Object.keys(tmpGroups).map(function(key) {
        //loop through array of brake values with iterator key
        if (tmpGroups[key].identification == 0) {
          tmpGroups[key].identification = "Anonym";
        } else if (tmpGroups[key].identification == 1) {
          tmpGroups[key].identification = "ID von Versuchsleiter";
        } else if (tmpGroups[key].identification == 2) {
          tmpGroups[key].identification = "ID von Nutzer";
        } else if (tmpGroups[key].identification == 3) {
          tmpGroups[key].identification = "ID von System";
        } else if (tmpGroups[key].identification == 4) {
          tmpGroups[key].identification = "E-Mail Benachritigung anonym";
        } else if (tmpGroups[key].identification == 5) {
          tmpGroups[key].identification = "E-Mail Benachritigung";
        }

        if (tmpGroups[key].feedback == 0) {
          tmpGroups[key].feedback = "kein Feedback";
        } else if (tmpGroups[key].feedback == 1) {
          tmpGroups[key].feedback = "Vergleichswert";
        } else if (tmpGroups[key].feedback == 2) {
          tmpGroups[key].feedback = "Kurztext";
        } else if (tmpGroups[key].feedback == 3) {
          tmpGroups[key].feedback = "Vergleichswert und Kurztext";
        }

        //if group date value is today or yesterday change display from date to string
        if (tmpGroups[key].created == today) {
          tmpGroups[key].created = "Heute";
        } else if (tmpGroups[key].created == yesterday) {
          tmpGroups[key].created = "Gestern";
        }

        if (tmpGroups[key].start == today) {
          tmpGroups[key].start = "Heute";
        } else if (tmpGroups[key].start == yesterday) {
          tmpGroups[key].start = "Gestern";
        }

        if (tmpGroups[key].end == today) {
          tmpGroups[key].end = "Heute";
        } else if (tmpGroups[key].end == yesterday) {
          tmpGroups[key].end = "Gestern";
        }
      });
      } else {
        Object.keys(tmpGroups).map(function(key) {
        //loop through array of brake values with iterator key
        if (tmpGroups[key].identification == 0) {
          tmpGroups[key].identification = "Anonym";
        } else if (tmpGroups[key].identification == 1) {
          tmpGroups[key].identification = "ID from group manager";
        } else if (tmpGroups[key].identification == 2) {
          tmpGroups[key].identification = "ID from participant";
        } else if (tmpGroups[key].identification == 3) {
          tmpGroups[key].identification = "ID from system";
        } else if (tmpGroups[key].identification == 4) {
          tmpGroups[key].identification = "E-Mail Notification anonymous";
        } else if (tmpGroups[key].identification == 5) {
          tmpGroups[key].identification = "E-Mail Notification ";
        }

        if (tmpGroups[key].feedback == 0) {
          tmpGroups[key].feedback = "no feedback";
        } else if (tmpGroups[key].feedback == 1) {
          tmpGroups[key].feedback = "Comparison";
        } else if (tmpGroups[key].feedback == 2) {
          tmpGroups[key].feedback = "Short text";
        } else if (tmpGroups[key].feedback == 3) {
          tmpGroups[key].feedback = "Comparison and short text";
        }

        //if group date value is today or yesterday change display from date to string
        if (tmpGroups[key].created == today) {
          tmpGroups[key].created = "Today";
        } else if (tmpGroups[key].created == yesterday) {
          tmpGroups[key].created = "Yesterday";
        }

        if (tmpGroups[key].start == today) {
          tmpGroups[key].start = "Today";
        } else if (tmpGroups[key].start == yesterday) {
          tmpGroups[key].start = "Yesterday";
        }

        if (tmpGroups[key].end == today) {
          tmpGroups[key].end = "Today";
        } else if (tmpGroups[key].end == yesterday) {
          tmpGroups[key].end = "Yesterday";
        }
        });
      }   

      this.showGroup = this.groups.slice(0, 6);
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    async copyLink(index) {
      const toCopy = this.showGroup[index].link;
      await navigator.clipboard.writeText(toCopy);
      this.snackTxt = "Link kopiert";
      this.snackbar = true;
    },

    //when hovering of name of group show full group name in snackbar
    showFullName(index) {
      this.snackTxt = this.showGroup[index + this.flag * 6].groupName;
      this.snackbar = true;
    },

    /*
    When the user selects the right arrow button show the next page with groups.
    groups holds all groups, showGroup holds all displayed groups.
    To display the next page load the next six elements from groups into showGroup.
    When less then 6 elements available choose only available elements.
    When loading the next page change the indicator, which groups are shown.
    */
    elementsForward() {
      if (this.end + 6 <= this.groups.length) {
        this.start += 6;
        this.end += 6;
        this.flag += 1;

        this.showGroup = this.groups.slice(this.start - 1, this.end);
      } else if (this.end < this.groups.length) {
        this.start = this.end + 1;
        this.end = this.groups.length;
        this.flag += 1;

        this.showGroup = this.groups.slice(this.start - 1, this.end);
      }
    },

    /*
    When the user selects the left arrow button show the previous page with groups.
    groups holds all groups, showGroup holds all displayed groups.
    To display the previous page load the previous six elements from groups into showGroup.
    When less then 6 elements available choose only available elements.
    When loading the next page change the indicator, which groups are shown.
    */
    elementsBackward() {
      if (this.start - 6 >= 1 && this.end - 6 >= 6) {
        this.start -= 6;
        this.end = this.start + 5;
        this.flag -= 1;

        this.showGroup = this.groups.slice(this.start - 1, this.end);
      } else if (this.start > 1) {
        this.start = 1;
        this.end = 6;
        this.flag -= 1;

        this.showGroup = this.groups.slice(this.start - 1, this.end);
      }
    },

    //send application sleep for interval time
    sleepApplication(time) {
      return new Promise(resolve => setTimeout(resolve, time));
    },

    /*
    Expandes the card of a group to show the details.
    Needs the row index of the group to select correct card.
    Previous expanded groups are set to show no deatils, only one detailed group per time available.
    When the details are displayed get the data of the group to display information in histogram
    */
    expandGroup(index) {
      if (this.expandedMenu != index + this.flag * 6) {
        this.showExpand[this.expandedMenu] = false;
      }

      this.expandedMenu = index + this.flag * 6;

      this.showExpand[index + this.flag * 6] = !this.showExpand[
        index + this.flag * 6
      ];
      this.showGroup = this.groups.slice(this.start - 1, this.end);

      axios
        .get(
          this.url + downloadURL +
            this.groups[index + this.flag * 6].id +
            "/" +
            this.$store.state.userID +
            "/" +
            this.$store.state.token
        )
        .then(response => {       
          this.sleepApplication(1000).then(() => {
            this.groupData = response.data.data;
            
            if (this.groupData.length > 0) {
            var tmpData = [];
            var tmpGroupData = this.groupData;

            this.selector = "0";
            Object.keys(tmpGroupData).map(function(key) {
              tmpData.push(tmpGroupData[key].final_Difficulty);
            });
            this.data = tmpData;
            this.dataBackup = tmpData;
            this.showHistogram = true;
            this.histogramKey += 1;
          } else {
            this.data = [];
            this.showHistogram = false;
            this.histogramKey += 1;
          }
          })          
        });
    },

    //update filter of histogram in group details to new values
    updateFilter(values) {
      if (this.selector == "0") {
        this.filter.final_DifficultyMin = values.from;
        this.filter.final_DifficultyMax = values.to;
      } else if (this.selector == "1") {
        this.filter.useTimeMin = values.from;
        this.filter.useTimeMax = values.to;
      } else if (this.selector == "2") {
        this.filter.firstUsedMin = values.from;
        this.filter.firstUsedMax = values.to;
      } else if (this.selector == "3") {
        this.filter.timeMin = values.from;
        this.filter.timeMax = values.to;
      } else {
        this.filter.ageMin = values.from;
        this.filter.ageMax = values.to;
      }
    },

    /*
    Update displayed information in histogram depending on selected gender
    The genders are represented through strings, change integers to string for display.
    val represents the selected parameter.
    0 = all genders
    1 = male
    2 = female
    3 = diverse
    4 = no specification
    */
    updateGender(val) {
      var tmpData = [];
      var tmpGroupData = this.groupData;
      var tmpFilteredData = this.dataBackup;

      if (val == "0") {
        tmpData = tmpFilteredData;
      } else if (val == "1") {
        Object.keys(tmpFilteredData).map(function(key) {
          if (tmpGroupData[key].gender == "male") {
            tmpData.push(tmpFilteredData[key]);
          }
        });
      } else if (val == "2") {
        Object.keys(tmpFilteredData).map(function(key) {
          if (tmpGroupData[key].gender == "female") {
            tmpData.push(tmpFilteredData[key]);
          }
        });
      } else if (val == "3") {
        Object.keys(tmpFilteredData).map(function(key) {
          if (tmpGroupData[key].gender == "diverse") {
            tmpData.push(tmpFilteredData[key]);
          }
        });
      } else if (val == "4") {
        Object.keys(tmpFilteredData).map(function(key) {
          if (tmpGroupData[key].gender == "na") {
            tmpData.push(tmpFilteredData[key]);
          }
        });
      }

      if (tmpData.length == 0) {
        this.showHistogram = false;
      } else {
        this.showHistogram = true;
      }

      //update histogram, increment key to force update
      this.data = tmpData;
      this.histogramKey += 1;
    },

    //upon change of end date for group send new end date to database
    updateEnd(index) {
      if (this.checkDate() == true) {
        var newEnd = this.dateEnd.split("-");
        newEnd = newEnd[2] + "." + newEnd[1] + "." + newEnd[0];
        this.groups[index + this.flag * 6].end = newEnd;
        this.showGroup[index].end = newEnd;

        axios.patch(this.url + patchEnd + newEnd + "/" + this.showGroup[index].id + "/" + this.$store.state.userID + "/" + this.$store.state.token);
      }
    },

    /*showLiveResult(index) {
      this.$store.commit("setLastGroup", this.showGroup[index].id);
      this.$parent.liveResultArchive();
    },*/

    //show overlay for group deletion
    overlayUpdate(index) {
      this.deleteHold = index;
      this.overlay = !this.overlay;
    },

    /*
    The user can delete groups.
    Needs to delete the group in local data to change display.
    Send reqeust to server to delete group.
    */
    deleteGroup() {
      this.showExpand[this.expandedMenu] = false;

      axios.delete(this.url + deleteGroup + this.showGroup[this.deleteHold].id + "/" + this.$store.state.userID + "/" + this.$store.state.token);

      this.groups.splice(this.deleteHold + this.flag * 6, 1);
      this.showGroup.splice(this.deleteHold, 1);

      this.overlay = !this.overlay;
    },

    /*
    Upon changing the end date of group check for valid date.
    When set date is before actual date refuse new date and show error in snackbar.
    */
    checkDate() {
      var date = new Date();
      var created = [date.getFullYear(), date.getMonth() + 1, date.getDate()];
      var start = this.dateEnd.split("-").map(function(item) {
        return parseInt(item, 10);
      });

      if (start[0] < created[0]) {
        this.snackTxt = this.messages.startYear;
        this.snackbar = true;
        return false;
      } else if (start[1] < created[1] && start[0] == created[0]) {
        this.snackTxt = this.messages.startMonth;
        this.snackbar = true;
        return false;
      } else if (start[2] < created[2] && start[1] == created[1]) {
        this.snackTxt = this.messages.startDay;
        this.snackbar = true;
        return false;
      }
      return true;
    },

    //show liveResult componenet for group
    liveResult(index) {
      this.$store.commit("setLastGroup", this.groups[index + this.flag * 6].id);
      this.$parent.liveResultArchive();
    },

    /*
    The user can download the data of groups in csv-files.
    To enable this request the complete group data and use filters of histogram on data.
    Only download the data selected in the histogram through slider.
    When data is filtered change data to blob and create direct download link.
    The download is immediatly shown, no further mirrors are required.
    */
    getData(index) {
      axios
        .get(
          this.url + downloadURL +
            this.groups[index + this.flag * 6].id +
            "/" +
            this.$store.state.userID +
            "/" +
            this.$store.state.token
        )
        .then(response => {
          this.sleepApplication(1000).then(() => {
            // Convert Object to JSON
          var dataUnfiltered = response.data.data;
          var filter = this.filter;

          //use filters of histogram to select data
          Object.keys(dataUnfiltered).map(function(key) {
            if (
              dataUnfiltered[key].final_Difficulty <
                filter.final_DifficultyMin ||
              dataUnfiltered[key].final_Difficulty > filter.final_DifficultyMax
            ) {
              dataUnfiltered.splice(key, 1);
            } else if (
              dataUnfiltered[key].firstUsed < filter.firstUsedMin ||
              dataUnfiltered[key].firstUsed > filter.firstUsedMax
            ) {
              dataUnfiltered.splice(key, 1);
            } else if (
              dataUnfiltered[key].time < filter.timeMin ||
              dataUnfiltered[key].time > filter.timeMax
            ) {
              dataUnfiltered.splice(key, 1);
            } else if (
              dataUnfiltered[key].useTime < filter.useTimeMin ||
              dataUnfiltered[key].useTime > filter.useTimeMax
            ) {
              dataUnfiltered.splice(key, 1);
            } else if (
              dataUnfiltered[key].age < filter.ageMin ||
              dataUnfiltered[key].age > filter.ageMax
            ) {
              dataUnfiltered.splice(key, 1);
            }
          });

          //convert json data to string
          var jsonObject = JSON.stringify(dataUnfiltered);

          //change string to csv formar
          var csv = this.convertToCSV(jsonObject);

          var exportedFilenmae = "Groupdata" + ".csv" || "export.csv";

          //convert string to blob
          var blob = new Blob([csv], { type: "text/csv;charset=utf-8;" });
          if (navigator.msSaveBlob) {
            navigator.msSaveBlob(blob, exportedFilenmae);
          } else {
            var link = document.createElement("a");
            if (link.download !== undefined) {
              var url = URL.createObjectURL(blob);
              link.setAttribute("href", url);
              link.setAttribute("download", exportedFilenmae);
              link.style.visibility = "hidden";
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
            }
          }
          this.groupData = response.data.data;
          })          
        });
    },

    //format raw string to csv format, uses standard expression function
    convertToCSV(objArray) {
      var array = typeof objArray != "object" ? JSON.parse(objArray) : objArray;
      var str = "";

      for (var i = 0; i < array.length; i++) {
        var line = "";
        for (var index in array[i]) {
          if (line != "") line += ",";
          line += array[i][index];
        }
        str += line + "\r\n";
      }
      return str;
    },

    //return from archive to adminpage
    nextPage() {
      this.$parent.archive();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
