<template>
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card class="qst" outlined>
      <v-spacer></v-spacer>
        {{questionDisplay}}
      <v-spacer></v-spacer>
    </v-card>
    <v-row class="vrow">
      <v-col cols="12" sm="6" offset-sm="3">
        <v-container fluid>
          <v-row class="rowAnsw">
            <v-col v-for="(n, index) in answers" :key="n" class="d-flex child-flex" :cols= columns>
              <v-card flat tile outlined class="d-flex">
                <v-img v-if="showSymbols" v-on:click="selection(index)" id="symbolTarget" :src="getImg(n, index)" aspect-ratio="1" contain class="grey lighten-2">
                  <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
                <p id="textAnsw" v-if="showText" v-on:click="selection(index)" :key="n">{{n}}</p>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>

    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="66.6" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
import axios from "axios";    //import axios to load questions
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

const baseURL1 = "newItems"; 
const baseURL2 = "items";    //URL to items
const baseURL3 = "grouplinks";    //URL to target/distractor groups
const baseURL4 = "newItemsAnswers";
const baseURL5 = "itemsAnswers";
const baseURL6 = "breakValues"

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      tmp: 0,
      head: [],    //text in banner
      newItems: [],
      items: [],    //possible items to be presented
      columns: [],    //number of columns to show targets/distractors
      questionDisplay: [],   //question shown to the user
      answers: [],    //holds possible answers for active question
      targets: [],    //holds all possible answers for every question
      correctTarget: [],    //holds correct target for active question
      group: 0,   //active group of targets/distractors for active question
      showSymbols: [],    //when true active question uses symbols
      showText: [],   //when true active question uses text
      brakeValues: [],    //end values of test, when reached stop questions
      outedItems: [],   //already used items
      difficulty: 0,    //skill level of user
      nextDifficulty: 1.5,    //amount to add/subtract after next answer
      elementName: "",   //name of vue element
      lastGroup: [],
      iteration: [],
      runFlag: false,
      randomItem: [],
      testFinished: false,
      newItemAnswer: [],
      newItemsResult: {
        itemID: null,
        answer: null,
        finalDifficulty: null
      },
      collectedAnswers: []
      };
  },
  async created() {
    try {
      const res1 = await axios.get(this.url + baseURL1);
      const res2 = await axios.get(this.url + baseURL2);
      const res3 = await axios.get(this.url + baseURL3);
      const res4 = await axios.get(this.url + baseURL6);

      //load data from constants to vue data to manipulate information
      if (this.language == "GER") {
        this.head = res.elements.assignment.head;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.assignment.head;

      }

      this.newItems = res1.data.item;
      this.items = res2.data.item;
      this.targets = res3.data.groups;
      var breakHold = res4.data.item;

      this.brakeValues = breakHold.map(function (obj) {
        return obj.breakValue;
      });

      this.tmp = breakHold

      this.nearItem();    //determinate first item to be presented
      this.updateTargets();   //load targets of question
      } catch (e) {
      ("no data available");    //error when database unavailable
    }
  },

  methods: {
    /**
     * build src of image, vue needs images to be imported as modules, require acts as import
     * bild is specific image name, loaded from database
    */
    getImg(n, index) {      
      if(n.length > 32) {
        return this.answers[index];
      } else {
        //this.tmp = n;
        var images = require.context('../data/images/', false, /\.png$/)    //build standard import string
        return images('./' + n + ".png")   //add image name from parameter to import string, return full import string
      }
  },

    /**
     * increases or decreases difficulty depending on answer
     * when answer correct increase difficulty, otherwise decrase
     * index is index of selected target, ranges between zero to seven
     */
    selection(index) {
      if(this.testFinished == false) {        
        if(this.answers[index] == this.correctTarget) {   //name of image is compared with correct target
          this.collectedAnswers.push(1);
          this.difficultyUp();    //when identical increase difficulty
        } else {
          this.collectedAnswers.push(0);
          this.difficultyDown();  //when not identical decrease difficulty
        }
      } else {
        if(this.answers[index] == this.correctTarget) {
          this.newItemsResult.answer = 1;
        } else {
          this.newItemsResult.answer = 0;       
        }

        var url = this.url;
        var outedItems = this.outedItems;
        var collectedAnswers = this.collectedAnswers;
        var finalDifficulty = this.difficulty;

        Object.keys(outedItems).map(function(key) {
          axios.post(url + baseURL5, {
            itemID: outedItems[key],
            answer: collectedAnswers[key],
            finalDifficulty: finalDifficulty
          })
        });

        this.newItemsResult.itemID = this.randomItem;        
        this.newItemsResult.finalDifficulty = this.difficulty;
        axios.post(this.url + baseURL4, this.newItemsResult);
        this.$parent.information(this.difficulty);
      }
    },

    /**
     * increase difficulty by value of nextDifficulty
     * nextDifficulty is divided by two, this is defined by the used model
     */
    difficultyUp() {
      this.difficulty += this.nextDifficulty;   
      this.nextDifficulty = this.nextDifficulty / 2;

      this.checkBrake();    //check for brake value, when reached questions finished

      if(this.testFinished == false) {
        this.nearItem();    //determine nearest item
        this.updateTargets();   //update targets/distractors for next item
      } else {
        this.newItem();
      }
    },

    /**
     * Decrease difficulty by value of nextDifficulty
     * nextDifficulty is divided by two, this is defined by the used model
     */
    difficultyDown() {
      this.difficulty -= this.nextDifficulty;
      this.nextDifficulty = this.nextDifficulty / 2;

      this.checkBrake();    //check for brake value, when reached questions finished

      if(this.testFinished == false) {
        this.nearItem();    //determine nearest item
        this.updateTargets();   //update targets/distractors for next item
      } else {
        this.newItem();
      }
    },

    /**
     * check for final difficulty value after answering question
     * when final value reached the questions are finished and the user gets to the next vue component
     */
    checkBrake() {
      //variables used since in loop vue data can not be accessed, copy values from data
      var brake = this.brakeValues;
      var dif = this.difficulty;
      var testFinishedTMP = false;      
      //var finish = false;   //finish flag, only true when brake value reached
      
      //loop through array of brake values, when value is identical to difficulty set finish to true
      Object.keys(brake).map(function(key) {    //loop through array of brake values with iterator key
        if(brake[key] == dif) {   //when brake value reached set finish to true
          testFinishedTMP = true;
          //this.newItem();          
          //finish = true;
        }
      });

      //when final is true call function from App.vue, final difficulty send as parameter to save value in userData
      /*if(finish == true) {
        this.$parent.information(this.difficulty);    //information function defined in App.vue
      }*/
      if(testFinishedTMP == true) {
        this.testFinished = true;
        //this.newItem();
      }
    },

    /**
     * resets difficulty to 0
     * only used as debug function, is not call in production
     */
    resetDifficulty() {
      this.difficulty = 0;    //resets difficulty to 0
      this.nextDifficulty = 1.5;    //resets nextDifficulty to 1.5

      this.nearItem();    //determine nearest item
      this.updateTargets();   //load targets/distractors of nearest item
    },

    /**
     * loads targets/distractors from targets array, which holds all items into answers, which holds only
     * targets and distractors of active question
     * depending on type of question the columns for the targets/distractors needs to be restructured
     * when symbols are used there is a 2x4 matrix used
     * when text is used there is a 6x1 matrix used
     */
    updateTargets() {
      var tar = this.targets;
      var gro = this.group;
      var ans;
      var ite;

      if(this.runFlag == true) {
      this.$set(this.targets[this.iteration], "groupID", this.lastGroup);
      }

      this.runFlag = true;

      Object.keys(tar).map(function(key) {    //loop through items
        if (tar[key].groupID == gro) {
          ans = tar[key];
          ite = key;
          Object.keys(ans).map(function(key) {
            if(ans[key] == null) {
              delete ans[key];
            }
          })
        }
      });

      this.answers = ans;
      /*if(this.testFinished == true) {
        this.answers = Object.values(this.answers);
      }*/
      this.lastGroup = this.targets[ite].groupID;
      this.iteration = ite;
      delete this.answers.groupID;

      if(this.showSymbols == true) {    //when symbols are used set columns to 3
        this.columns = "3";
      } else {    //otherwise set columns to 7
        this.columns = "7";
      }
    },

    /**
     * this function deterimines the nearest item to difficulty and saves information of item to data elements
     * to determine nearest item loop through all items and determine distance to difficulty
     * the distance of the iterated item is the difficulty of the user subtracted by the difficulty of the iterated item
     * if the distance is shorter than the shortest already know distance set item to nearest item when item has not already been shown to user
     * after iterating through all items the shortest available item is selected
     * after selecting item iteminformation is saved to data and showSymbols and showText is set
     * showSymbols and showText are used to determine layout of answer grid
     */
    nearItem() {
      //load data into variable since data is not available in loop
      var nearestDifficulty = this.items;
      var dif = this.difficulty;
      var outings = this.outedItems;
      var shortestDistance = 100;   //start shortest distance needs to be greater than greatest possible distance of items
      var object;   //holds difficulty of item in iterations
      var distance;   //distance of iterated item to difficulty
      var questionDB;   //display question of nearest item
      var groupTmp;   //tmp for group of nearest item
      var target;   //correct target of nearest item
      var type;   //type of nearest item (symbol or text)
      var item;   //identifier of nearest item
      
      //loop through all items with key as iterator, nearestDifficulty holds all possible items from databse
      Object.keys(nearestDifficulty).map(function(key) {    //loop through items
        object = nearestDifficulty[key].difficulty;   //save difficutly of iterated item in variable

        distance = dif - object;    //distance of item to difficultsy determiend by subtracting difficulty from difficulty of iterated item
        if (Math.abs(distance) < shortestDistance && !outings.includes(nearestDifficulty[key].itemID)) {    //if the distance is shortest distance and the item was not already used the item is selected               
          shortestDistance = Math.abs(distance);    //set new shortest distance
          questionDB = nearestDifficulty[key].question;   //load question from database item to variable
          groupTmp = nearestDifficulty[key].groupID;    //load group of database item to variable
          target = nearestDifficulty[key].target;   //load correct target of database item to variable
          type = nearestDifficulty[key].symbol;   //load type of databse item to variable
          item = nearestDifficulty[key].itemID;   //load item identifier of database item to variable
        }
      });

      //inforamtion of nearest item is loaded into data varaibles from temp variables
      this.questionDisplay = questionDB;
      this.group = groupTmp;
      this.correctTarget = target;
      this.outedItems.push(item);   //item identifier is pushed to array of already used item, item can not be selected again

      //type represents the boolean symbol, when type is true, the selected item uses symbols
      if(type == true) {    //set showSymbols to true and showText to false to determine grid layout for symbol item
        this.showSymbols = true;
        this.showText = false;
      } else {    //set showSymbols to false and showText to true to determine grid layout for text item
        this.showSymbols = false;
        this.showText = true;
      }
    },

    newItem() {
      var newItems = this.newItems;
      var newItemsIDs = [];

      Object.keys(newItems).map(function(key) {    //loop through items
        newItemsIDs.push(newItems[key].id);
      });
      var random = newItemsIDs[Math.floor(Math.random() * newItemsIDs.length)];

      this.randomItem = random;

      var showSymbols = "";
      var showText = "";
      var group = "";
      var questionDisplay = "";
      var correctTarget = "";

      Object.keys(newItems).map(function(key) {    //loop through items
        if(newItems[key].id == random) {
          if(newItems[key].symbol == true) {
            showSymbols = true;
            showText = false;
          } else {
            showSymbols = false;
            showText = true;
          }
          group = newItems[key].groupID;
          questionDisplay = newItems[key].question;
          correctTarget = newItems[key].target;
        }
      });

      this.showSymbols = showSymbols;
      this.showText = showText;
      this.group = group;        
      this.updateTargets();

      this.questionDisplay = questionDisplay;
      this.correctTarget = correctTarget;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
