<!--
This element is show after the usecases and before the assignments.
Shows explanation on the question format in the assignments
-->
<template>
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
        <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <p class="text-instructionExplanation" v-for="element of content" :key="element">{{element}}</p>

    <video :src="video" :width="resize" autoplay loop></video>    
    <br>
    <v-btn id="nextButton" @click="nextPage">{{button}}</v-btn> 

    <v-footer absolute class="font-weight-medium footer">
      <v-progress-linear class="progress" value="50" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import mp4Ger from "../assets/assignmentExampleGer.mp4";
import mp4Eng from "../assets/assignmentExampleEng.mp4";

export default {
  name: "app",
  props: {
    language: String
  },
  data() {    
    return {
      head: [],
      content: [],
      button: [],
      elementName: "",
      video: "",
      resize: "40%"
    };
  },

  //load text elements show in module
  async created() {
    try {   

      if (this.language == "GER") {
        this.head = res.elements.assignmentExplanation.head;
        this.content = res.elements.assignmentExplanation.content;
        this.button = res.buttons.next;
        this.video = mp4Ger;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.assignmentExplanation.head;
        this.content = resEng.elements.assignmentExplanation.content;
        this.button = resEng.buttons.next;
        this.video = mp4Eng;
      }

      
    } catch (e) {
      ("no data available");
    }
  },

  //call parent class to show next module (assignments)
  methods: {
    nextPage() {
      this.$parent.assignments();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
