<!--
This component is used to create new test groups.
The user can set the group name, group shourtcut, time frame, skipped components, identification and feedback.
After confirming the new group the link and qr code to the group are shown.
-->
<template>
  <div data-app class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--The elemets are splitted into to columns to show all parameters on one screen height-->
    <v-container>
      <v-row class="column">
        <v-col cols="12" sm="3"></v-col>
        <v-col cols="12" sm="3">
          <!--group name-->
          <v-text-field
            v-model="groupName"
            v-if="showCreateGroup"
            :label="content.name"
            :hint="content.nameHint"
            :rules="rulesName"
          ></v-text-field>
          <!--limit time frame, calender input only available when check box for time limit activated-->
          <h3 v-if="showCreateGroup" class="text-instruction">
            {{content.timeFrame}}
            <v-tooltip right color="#404040">
              <template v-slot:activator="{ on }">
                <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
              </template>
              <span>
                {{content.timeFrameExplanation0}}
                <br />
                {{content.timeFrameExplanation1}}
                <br />
                {{content.timeFrameExplanation2}}
              </span>
            </v-tooltip>
          </h3>
          <v-checkbox
            class="checkboxTime"
            v-if="showCreateGroup"
            v-model="showTime"
            :label="content.limitTimeFrame"
          ></v-checkbox>
          <v-menu
            v-model="menuStart"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-if="showCreateGroup"
                :disabled="!showTime"
                class="dateInput"
                v-model="dateStart"
                :label="content.start"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dateStart" @input="menuStart = false" color="#FF6600"></v-date-picker>
          </v-menu>
          <v-menu
            v-model="menuEnd"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-if="showCreateGroup"
                :disabled="!showTime"
                class="dateInput"
                v-model="dateEnd"
                :label="content.end"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dateEnd" @input="menuEnd = false" color="#FF6600"></v-date-picker>
          </v-menu>
          <!--identification input, uses radio buttons-->
          <h3 v-if="showCreateGroup" class="text-instruction">
            {{content.identification}}
            <v-tooltip right color="#404040">
              <template v-slot:activator="{ on }">
                <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
              </template>
              <span>
                {{content.identificationHint0}}
                <br />
                {{content.identificationHint1}}
                <br />
                {{content.identificationHint2}}
                <br />
                {{content.identificationHint3}}
                <br />
                {{content.identificationHint4}}
                <br />
                {{content.identificationHint5}}
                <br />
                {{content.identificationHint6}}
              </span>
            </v-tooltip>
          </h3>
          <v-radio-group class="radio" v-if="showCreateGroup" v-model="identification">
            <v-radio :label="content.identification0" value="0" color="#ff6600"></v-radio>
            <v-radio :label="content.identification1" value="1" color="#ff6600"></v-radio>
            <v-radio :label="content.identification2" value="2" color="#ff6600"></v-radio>
            <v-radio :label="content.identification3" value="3" color="#ff6600"></v-radio>
            <v-radio :label="content.identification4" value="4" color="ff6600"></v-radio>
            <v-radio :label="content.identification5" value="5" color="ff6600"></v-radio>
          </v-radio-group>
        </v-col>
        <!--group short name input-->
        <v-col cols="12" sm="3">
          <v-text-field
            v-model="groupShort"
            v-if="showCreateGroup"
            :label="content.groupShort"
            :hint="content.groupShortHint"
            :rules="rulesShort"
          ></v-text-field>
          <!--component selection, unselected components are skipped in test-->
          <h3 v-if="showCreateGroup" class="text-instruction">
            {{content.modules}}
            <v-tooltip left color="#404040">
              <template v-slot:activator="{ on }">
                <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
              </template>
              <span>
                {{content.modulesHint0}}
                <br />
                {{content.modulesHint1}}
                <br />
                {{content.modulesHint2}}
                <br />
                {{content.modulesHint3}}
              </span>
            </v-tooltip>
          </h3>
          <v-checkbox
            v-if="showCreateGroup"
            class="checkboxModule"
            v-model="experience"
            :label="content.module0"
          ></v-checkbox>
          <v-checkbox
            v-if="showCreateGroup"
            class="checkboxModule"
            v-model="usecases"
            :label="content.module1"
          ></v-checkbox>
          <v-checkbox
            v-if="showCreateGroup"
            class="checkboxModule"
            v-model="userinformation"
            :label="content.module2"
          ></v-checkbox>
          <!--select feedback show to user at end of test, uses radio buttons-->
          <h3 v-if="showCreateGroup" class="text-instructionFeedback">
            {{content.feedback}}
            <v-tooltip left color="#404040">
              <template v-slot:activator="{ on }">
                <v-icon color="#FF6600" dark v-on="on">mdi-help-circle</v-icon>
              </template>
              <span>
                {{content.feedbackHint0}}
                <br />
                {{content.feedbackHint1}}
                <br />
                {{content.feedbackHint2}}
                <br />
                {{content.feedbackHint3}}
                <br />
                {{content.feedbackHint4}}
                <br />
                {{content.feedbackHint5}}
              </span>
            </v-tooltip>
          </h3>
          <v-radio-group class="radio" v-if="showCreateGroup" v-model="feedback">
            <v-radio :label="content.feedback0" value="0" color="#ff6600"></v-radio>
            <v-radio :label="content.feedback1" value="1" color="#ff6600"></v-radio>
            <v-radio :label="content.feedback2" value="2" color="ff6600"></v-radio>
            <v-radio :label="content.feedback3" value="3" color="ff6600"></v-radio>
          </v-radio-group>
        </v-col>
        <v-col cols="12" sm="3"></v-col>
      </v-row>
    </v-container>
    <!--email input, only available when using email as identification-->
    <v-text-field
      class="inputEmail"
      v-if="showEmailInput"
      v-model="address"
      id="useTime"
      :label = "content.email"
      :hint = "content.emailHint"
    ></v-text-field>

    <v-spacer></v-spacer>
    <v-btn id="backButton" v-if="showCreateGroup" @click="createID">{{content.createGroup}}</v-btn>
    <h1 v-if="showLink">{{newLink}}</h1>
    <p v-if="showQR">
      <qrcode-vue :value="value" :size="size" level="H"></qrcode-vue>
    </p>
    <v-spacer></v-spacer>
    <v-btn id="expandButton" v-if="showQR" @click="liveResult">{{content.liveResult}}</v-btn>
    <v-spacer></v-spacer>
    <vue-json-to-csv v-if="showDownload" :json-data="userData" csv-title="Userdata">
      <v-btn id="expandButton">{{content.download}}</v-btn>
    </vue-json-to-csv>
    <!-- Button to get to back to the homepages  -->
    <br />
    <v-btn id="backButton" @click="backToAdminArea">{{buttons.returnTest}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import used npm packages
import data from "../data/db.json";
import resEng from "../data/dbEng.json";
import axios from "axios";
import QrcodeVue from "qrcode.vue";
import VueJsonToCsv from "vue-json-to-csv";
import validator from "email-validator";

//URLs to API requests
const userDataURL = "userdata";
const groupList = "grouplist";
const groupIdURL = "lastid";
const identificationURL = "identification";
const emailURL = "emailNotification/";

export default {
  name: "app",
  props: {
    url: String,
    language: String,
  },
  data() {
    return {
      head: [],
      content: [],
      messages: [],
      buttons: [],
      rulesName: [
        (value) => !!value || this.messages.required,
        (value) => value.length > 64 || this.messages.maxName,
      ],
      rulesShort: [
        (value) => !!value || this.messages.required,
        (value) => value.length > 12 || this.messages.maxShort,
      ],
      address: [],
      response: [],
      showLink: false,
      state: [],
      newID: [],
      userData: [],
      fullData: [],
      groupName: "",
      identification: "0",
      feedback: "0",
      newLink: "",
      showEmailInput: false,
      showCreateGroup: true,
      showDownload: false,
      elementName: "",
      value: "",
      size: 300,
      showQR: false,
      snackbar: false,
      snackTxt: "",
      dateStart: new Date().toISOString().substr(0, 10),
      menuStart: false,
      dateEnd: new Date().toISOString().substr(0, 10),
      menuEnd: false,
      showTime: false,
      groupShort: "",
      experience: true,
      usecases: true,
      userinformation: true,
    };
  },
  components: {
    QrcodeVue,
    VueJsonToCsv,
  },

  //get latest group id, new id is one iteration further
  async created() {
    try {
      if (this.language == "GER") {
        this.head = data.elements.createGroup.head;
        this.content = data.elements.createGroup.content;
        this.buttons = data.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.createGroup.head;
        this.content = resEng.elements.createGroup.content;
        this.buttons = resEng.buttons;
      }

      const res = await axios.get(
        this.url +
          groupIdURL +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );

      this.newID = res.data.value.id;
    } catch (e) {
      ("no data available");
    }
  },

  watch: {
    //when email identification is selected show email input
    identification: function () {
      if (this.identification == 4 || this.identification == 5) {
        this.showEmailInput = true;
      } else {
        this.showEmailInput = false;
      }
    },
  },

  methods: {
    /*
    Upon group creation check for inputs and generate grouplink.
    After creating the grouplink send group parameters to server.
    The grouplink is created from all group parameters and evaluated when the test is started
    */
    createID() {
      //check for valid inputs
      if (
        this.checkEmail() == true &&
        this.checkDates() == true &&
        this.groupName != "" &&
        this.groupShort != ""
      ) {
        //generate group id
        this.$store.commit("setLastGroup", this.newID + 1);
        //generate date
        var date = new Date();

        var created =
          date.getDate() + "." + date.getMonth() + "." + date.getFullYear();

        //if limited time frame is enabled add start and end dates to group
        if (this.showTime == true) {
          this.dateStart = this.dateStart.split("-");
          this.dateStart =
            this.dateStart[2] +
            "." +
            this.dateStart[1] +
            "." +
            this.dateStart[0];

          this.dateEnd = this.dateEnd.split("-");
          this.dateEnd =
            this.dateEnd[2] + "." + this.dateEnd[1] + "." + this.dateEnd[0];
        } else {
          this.dateStart =
            date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
          date.setFullYear(date.getFullYear() + 10);
          this.dateEnd =
            date.getDate() + "." + date.getMonth() + "." + date.getFullYear();
        }

        //set parameter for used components, components with value of 1 are used
        var modules = [0, 0, 0];

        if (this.experience == true) {
          modules[0] = 1;
        }
        if (this.usecases == true) {
          modules[1] = 1;
        }
        if (this.userinformation == true) {
          modules[2] = 1;
        }
        modules = modules.join("");

        //generate grouplink from previous paramters
        var testURL = window.location.href;
        this.newID++;
        this.newLink =
          testURL +
          "?" +
          this.identification +
          "?" +
          this.feedback +
          "?" +
          this.newID +
          "?" +
          modules;

        //send group to server
        axios
          .post(this.url + groupList, {
            groupOwnerID: this.$store.state.userID,
            groupName: this.groupName,
            groupShort: this.groupShort,
            identification: parseInt(this.identification),
            feedback: parseInt(this.feedback),
            link: this.newLink,
            created: created,
            start: this.dateStart,
            end: this.dateEnd,
            experience: this.experience,
            usecases: this.usecases,
            userInformation: this.userinformation,
            results: this.resultsPage,
            token: this.$store.state.token,
          })
          //after sending data show grouplink and qr code in interface
          .then((response) => {
            this.state = response.data;
            if (this.state.data == "success") {
              this.showLink = true;
              this.value = this.newLink;
              this.showQR = true;
              this.showCreateGroup = false;
              this.showEmailInput = false;

              if (this.identification == 3) {
                axios.post(this.url + identificationURL, {
                  user: this.$store.state.userID,
                  token: this.$store.state.token,
                  userID: 1,
                  groupID: this.newID,
                });
              }

              if (this.identification == 4 || this.identification == 5) {
                this.address = this.address.split(",");
                var i;
                for (i = 0; i < this.address.length; i++) {
                  axios
                    .post(
                      this.url +
                        emailURL +
                        this.address[i] +
                        "/" +
                        this.identification +
                        "/" +
                        this.feedback +
                        "/" +
                        this.newID +
                        "/" +
                        modules +
                        "/" +
                        this.language +
                        "/" +
                        this.$store.state.userID +
                        "/" +
                        this.$store.state.token
                    )
                    .then((response) => {
                      this.state = response.data;
                    });
                }
              }
              //show error when login token invalid
            } else if (this.checkEmail() != true) {
              this.snackTxt = this.messages.tokenInvalid;
              this.snackbar = true;
            }
          });
        //show error when input data invalid
      } else if (this.groupShort == "") {
        this.snackTxt = this.messages.name;
        this.snackbar = true;
      } else if (this.groupName == "") {
        this.snackTxt = this.messages.short;
        this.snackbar = true;
      } else {
        this.snackTxt = this.messages.maxShort;
        this.snackbar = true;
      }
    },

    //check email, if input invalid show error and return false, otherwise return true
    checkEmail() {
      if (this.identification != 4 || this.identification != 5) {
        return true;
      } else {
        var emailArray = this.address.split(",");

        var i = 0;

        for (i; i < emailArray.length; i++) {
          if (validator.validate(emailArray[i]) == false) {
            this.snackTxt = this.messages.invalidEmail + emailArray[i];
            this.snackbar = true;
            return false;
          }
        }
        return true;
      }
    },

    //check dates for validity, if date invalid show type on error in date
    checkDates() {
      if (this.showTime == true) {
        var date = new Date();

        var created = [date.getFullYear(), date.getMonth() + 1, date.getDate()];
        var start = this.dateStart.split("-").map(function (item) {
          return parseInt(item, 10);
        });
        var end = this.dateEnd.split("-").map(function (item) {
          return parseInt(item, 10);
        });

        //type of error
        if (start[0] < created[0]) {
          this.snackTxt = this.messages.startYear;
          this.snackbar = true;
          return false;
        } else if (start[1] < created[1] && start[0] == created[0]) {
          this.snackTxt = this.messages.startMonth;
          this.snackbar = true;
          return false;
        } else if (start[2] < created[2] && start[1] == created[1]) {
          this.snackTxt = this.messages.startDay;
          this.snackbar = true;
          return false;
        }

        if (end[0] < start[0]) {
          this.snackTxt = this.messages.endYear;
          this.snackbar = true;
          return false;
        } else if (end[1] < start[1] && end[0] == start[0]) {
          this.snackTxt = this.messages.endMonth;
          this.snackbar = true;
          return false;
        } else if (end[2] < start[2] && end[1] == start[1]) {
          this.snackTxt = this.messages.endDay;
          this.snackbar = true;
          return false;
        }

        return true;
      } else {
        return true;
      }
    },

    async results() {
      const information = await axios.get(
        this.url +
          userDataURL +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );
      this.fullData = information.data.users;

      /**
       * convert all necessary informations for loop to var, Object.key.map can not use vue data
       */
      var fDAta = this.fullData;
      var uData = [];
      var nID = this.newID;

      Object.keys(fDAta).map(function (key) {
        //loop through items
        if (fDAta[key].groupID == nID) {
          uData.push(fDAta[key]);
        }
      });

      if (uData.length != 0) {
        this.userData = uData;
        this.showDownload = true;
        this.newLink = "";
      } else {
        this.newLink = this.messages.noData;
      }

      this.showQR = false;
    },
    //return to archive component
    archive() {
      this.$parent.archive();
    },
    //return to adminpage component
    backToAdminArea() {
      this.$parent.returnAdminAreaFromGroup();
    },
    //show live result component
    liveResult() {
      this.$parent.liveResultItemCreation();
    },
  },
};
</script>

<style scoped>
.date-color {
  color: #00b300;
  font-weight: 900;
}

.v-btn--active .date-color {
  color: #fff;
}
</style>