<!--When the user wants to create a new account this component is displayed.
A new account requires an email address and a password. 
After creating the account a confirmation mail is send to the email address-->
<template>
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--email input-->
    <v-text-field v-on:keyup="checkInput" v-model="username" class="textArea" :label = messages.email></v-text-field>
    <v-spacer></v-spacer>
    <!--password input-->
    <v-text-field
      v-on:keyup="checkInput"
      v-model="password"
      class="textArea"
      :label = messages.password
      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show1 ? 'text' : 'password'"
      @click:append="show1 = !show1"
    ></v-text-field>
    <v-spacer></v-spacer>
    <!--repeat passwrod input-->
    <v-text-field
      v-on:keyup="checkInput"
      v-model="passwordConfirm"
      class="textArea"
      :label = messages.passwordRepeat
      :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show2 ? 'text' : 'password'"
      @click:append="show2 = !show2"
    ></v-text-field>
    <!--create account-->
    <v-btn id="nextButton" :disabled="state" @click="createUser">{{messages.createAccount}}</v-btn>
    <v-spacer></v-spacer>
    <v-btn id="nextButton" @click="nextPage">{{messages.return}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>

    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="20" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
//import axios and email validation to send data and validate email address
import axios from "axios";
import validator from "email-validator";
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

//api URLs
const postAccount = "accounts";
const newAccount = "newAccount";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      head: [],
      messages: [],
      show1: false,
      show2: false,
      status: [],
      state: false,
      snackbar: false,
      snackTxt: "",
      username: "",
      password: "",
      passwordConfirm: "",
      user: {
        username: "empty",
        password: "empty",
        key: "empty",
        language: "empty"
      }
    };
  },

  //set data to display
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.createAccount.head;
        this.messages = res.elements.createAccount.messages;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.createAccount.head;
        this.messages = resEng.elements.createAccount.messages;
      }
      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //call createUser when enter is pressed
    checkInput: function(e) {
      if (e.keyCode == 13) {
        this.createUser();
      }
    },

    /*
    Validate email and check correct repitition of password.
    If inputs valid hash the account data with sha256 and send information to server.
    Server checks for availability of email address, if already used client shows error in snackbar
    */
    createUser() {
      if (
        validator.validate(this.username) == true &&
        this.password == this.passwordConfirm
      ) {
        axios.get(this.url + newAccount).then(response => {
          //encrypt password
          var key = response.data.value;
          var encryptor = require("simple-encryptor")(key);
          var hash = encryptor.encrypt(this.password);

          this.$set(this.user, "username", this.username);
          this.$set(this.user, "password", hash);
          this.$set(this.user, "key", key);
          this.$set(this.user, "language", this.language)

          //send data to server
          axios.post(this.url + postAccount, this.user).then(response => {
            this.status = response.data;

            if (this.status.data == "false") {
              this.snackTxt = this.messages.nameUsed;
              this.snackbar = true;
            } else {
              this.snackTxt = this.messages.accountCreated;
              this.snackbar = true;
              this.state = true;
            }
          });
        });
      } else {
        if (!validator.validate(this.username)) {
          this.snackTxt = this.messages.badEmail;
          this.snackbar = true;
        } else if (this.password != this.passwordConfirm) {
          this.snackTxt = this.messages.badRepeat;
          this.snackbar = true;
        }
      }
    },

    //return from account creation to login component
    nextPage() {
      this.$parent.createAccount();
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>