<template>
<!--This component is used the get age of first use of digital devices and use time per week in hours-->
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
        <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    
    <p class="text-instruction" >{{firstUsed.firstUsed}}</p>
    <v-row class="vrow">
    <p class="input-prefix">{{firstUsed.input1}}</p>
    <v-text-field v-model="inputFirstUsed" class="input" :rules="rulesFirstUsed" id="firstUsed"></v-text-field>
    <p class="input-suffix">{{firstUsed.input2}}</p>
    </v-row>
    <p class="text-instruction">{{useTime.useTime}}</p>
    <v-row class="vrow">
    <p class="input-prefix"></p>
    <v-text-field class="input" v-model="inputUseTime" :rules="rulesUseTime" id="useTime"></v-text-field>
    <p class="input-suffix">{{useTime.input1}}</p>
    </v-row>

    <v-btn id="nextButton" @click="nextPage">{{button}}</v-btn>
    
    <v-snackbar 
      id="snack"
      v-model="snackbar"
      :timeout="2000">
      {{snackTxt}}
    </v-snackbar>
    
    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="16.6" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

export default {
  name: "app",
  props: {
    language: String
  },
  data() {
    return {      
      button: [],
      snackbar: false,
      snackTxt: "",
      head: [],
      firstUsed: [],
      useTime: [],
      messages: [],
      elementName: "",
      rulesFirstUsed: [
        value => !!value || this.messages.required,
        value => (value || '').length <= 2 || this.messages.age,
        value => {
          const pattern = /[0-9]/
          return pattern.test(value) || this.messages.inputType
        },
      ],
      rulesUseTime: [
        value => !!value || this.messages.required,
        value => (value || '').length <= 3 || this.messages.hours,
        value => value < 169 || this.messages.hours,
        value => {
          const pattern = /[0-9]/
          return pattern.test(value) || this.messages.inputType
        },
      ],
      inputFirstUsed: [],
      inputUseTime: []
    };
  },

  //set data to display
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.experience.head;
        this.firstUsed = res.elements.experience.content.firstUsed;
        this.useTime = res.elements.experience.content.useTime;
        this.button = res.buttons.next;
        this.messages = res.elements.experience.content.messages;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.experience.head;
        this.firstUsed = resEng.elements.experience.content.firstUsed;
        this.useTime = resEng.elements.experience.content.useTime;
        this.button = resEng.buttons.next;
        this.messages = resEng.elements.experience.content.messages;
      }
      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //check inputs for validity, if data valid show next component
    nextPage() {
      if(this.inputFirstUsed > 0 && this.inputFirstUsed < 100 && this.inputUseTime > 0 && this.inputUseTime < 169) {
        this.$parent.usecases(this.inputFirstUsed, this.inputUseTime);
      } else {
        if(!(this.inputFirstUsed > 0 && this.inputFirstUsed < 100) && this.inputUseTime > 0 && this.inputUseTime < 169) {
          this.snackTxt = this.messages.firstUse;
        } else if(this.inputFirstUsed > 0 && this.inputFirstUsed < 100 && !(this.inputUseTime > 0 && this.inputUseTime < 169)) {
          this.snackTxt = this.messages.useTime;
        } else {
          this.snackTxt = this.messages.useAndTime;
        }
        this.snackbar=true;
      }
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>