<template>
<!--first page of the test, shows the user greeting and inforamtion.
When the test group uses identification the users must identify in this component-->
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>    
    <span v-if="validDate">
      <p class="text-instruction" v-for="element of content" :key="element">{{element}}</p>
      <!--show identification when required-->
      <p class="text-instructionIdentification">{{identificationText}}</p>
      <!--identification input-->
      <v-text-field
        v-if="identificationInput"
        class="inputIdentification"
        v-model="identificationOutput"
        id="identificationInput"
      ></v-text-field>

      <v-btn id="nextButton" @click="nextPage">{{button}}</v-btn>
    </span>
    <span v-if="!validDate">
      <p class="text-instruction" v-for="element of contentInvalid" :key="element">{{element}}</p>
    </span>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>

    <v-footer absolute class="font-weight-medium footer">
      <v-progress-linear class="progress" value="0" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
//import inforamtion to display
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import axios from "axios";

//api URLs
const indentificationURL = "identification/";
const identificationGeneratedURL = "identificationGenerated/";

export default {
  name: "app",
  props: {
    language: String,
    identification: Number,
    groupID: Number,
    validDate: Boolean,
    url: String
  },
  data() {
    return {
      head: [],
      content: [],
      button: [],
      contentInvalid: [],
      idUsed: [],
      elementName: "",
      identificationName: false,
      identificationIdInput: false,
      identificationIdGenerated: false,
      identificationInput: false,
      identificationOutput: [],
      identificationText: "",
      snackbar: false,
      snackTxt: "",
      status: false,
      identificationIdGeneratedResponse: 0,
      identificationData: {
        userID: 0,
        groupID: 0
      }
    };
  },

  /*
  When component created check for identification, show corresponing identification input
  If email validation is used send set the identification from url
  */
  async created() {
    window.onbeforeunload = function() {
      return "";
    };

    if (this.identification == "1") {
      this.identificationName = true;
      this.identificationInput = true;
    } else if (this.identification == "2") {
      this.identificationIdInput = true;
      this.identificationInput = true;
    } else if (this.identification == "3") {
      this.identificationIdGenerated = true;
    }

    //load content for selected language
    try {
      if (this.language == "GER") {
        this.head = res.elements.greeting.head;
        this.content = res.elements.greeting.content;
        this.contentInvalid = res.elements.greeting.contentInvalid;
        this.button = res.buttons.next;
        this.idUsed = res.elements.greeting.idUsed;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.greeting.head;
        this.content = resEng.elements.greeting.content;
        this.contentInvalid = resEng.elements.greeting.contentInvalid;
        this.button = resEng.buttons.next;
        this.idUsed = resEng.elements.greeting.idUsed;
      }

      //check for identification
      if (this.identification == 1) {
        this.identificationText = res.elements.greeting.identification.name;
      } else if (this.identification == 2) {
        this.identificationText = res.elements.greeting.identification.free;
      } else if (this.identification == 3) {
        axios
          .patch(this.url + identificationGeneratedURL, { groupID: this.groupID })
          .then(response => {
            this.identificationIdGeneratedResponse = response.data.data;

            this.identificationText =
              res.elements.greeting.identification.given +
              " : " +
              this.identificationIdGeneratedResponse;
          });
      }
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //show next component, when identification check for availibility of id
    nextPage() {
      this.identificationData.userID = this.identificationOutput;
      this.identificationData.groupID = parseInt(this.groupID);

      if (this.identification == 1 || this.identification == 2) {
        axios
          .post(this.url + indentificationURL, this.identificationData)
          .then(response => {
            this.status = response.data;
            if (this.status.data != "false") {
              this.$parent.experience(this.identificationOutput);
            } else {
              this.snackbar = true;
              this.snackTxt = this.idUsed.idUsed;
            }
          });
      } else {
        this.$parent.experience(0);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
