<template>
<!--When a user opens the website this component is shown.
Users can start test or open login from this component-->
  <div class="hello" id="app">
    <v-toolbar id="homepage-header">
      <img alt="Uni Logo" src="../assets/logo-uni.png" width="200vw">
      <v-spacer></v-spacer>
      <img alt="IMIS Logo" src="../assets/logo-imis.png" width="100vw">
    </v-toolbar>
    <v-toolbar id="header">
        <v-toolbar-title id="homepage-header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items id="homepage-toolbar-items">
        <v-btn id="homepage-header-btn" text @click="$vuetify.goTo('#home')">{{content.home}}</v-btn>
        <v-btn id="homepage-header-btn" text @click="$vuetify.goTo('#cls')">{{content.topic}}</v-btn>
        <v-btn id="homepage-header-btn" text @click="$vuetify.goTo('#contact')">{{content.contact}}</v-btn>
        <v-btn v-if="screenWidth" id="homepage-header-btn" text @click="$vuetify.goTo('#privacy')">{{content.privacy}}</v-btn>

        <v-btn id="homepage-header-btn" text @click="overlay = !overlay"><country-flag :country='flag' size='big'/></v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-overlay :value="overlay">
      <v-btn id="startButton" @click="changeLanguage('GER')">Deutsch</v-btn>
      <v-spacer></v-spacer>
      <v-btn id="admin" @click="changeLanguage('ENG')">English</v-btn>
    </v-overlay>

    <v-card id="home" class="homeCard">
      <v-card-text class="text-title">Computer Literacy Scale - Questionnaire Scale to assess the Experience with Computers</v-card-text>     
    </v-card>    
    <v-btn id="startButton" @click="nextPage">{{content.test}}</v-btn>
    <v-btn id="admin" @click="adminArea" style="margin-left:10vw;">{{content.manager}}</v-btn>
    
    <v-divider class="divider"></v-divider>

    <v-card id="cls">
      <img alt="Def CLS" src="../assets/definition_cls.png" width="200vw">
      <v-card-text class="text-title">{{content.content0}}</v-card-text>
      <v-card-text class="text-content">{{content.content1}}</v-card-text>
      <v-card-text class="text-content">{{content.content2}}</v-card-text>

      <v-card-text class="text-title">{{content.content3}}</v-card-text>
      <v-card-text class="text-content">{{content.content4}}</v-card-text>

      <v-card-text class="text-title">{{content.content5}}</v-card-text>
      <v-card-text class="text-content">{{content.content6}}</v-card-text>
      <v-card-text class="text-content">{{content.content7}}</v-card-text>
      <v-card-text class="text-content">{{content.content8}}</v-card-text>
      <v-card-text class="text-content">{{content.content9}}</v-card-text>

      <v-card-text class="text-title">{{content.content10}}</v-card-text>
      <v-card-text class="text-content">Sengpiel,  M.,  Dittberner,  D.:  The  computer  literacy  scale  (CLS)  for  older  adults  –development and validation. In: Herczeg, M., Kindsmüller, M.C. (eds.) Presented at Mensch& Computer 2008: Viel Mehr Interaktion, pp. 7–16. Oldenbourg Verlag, München (2008)</v-card-text>
      <v-card-text class="text-content">Arsenyeva, N.: Adaptiver Test für Computer Literacy. Diplomarbeit</v-card-text>

    </v-card>

    <v-divider class="divider"></v-divider>

    <v-card id="contact">
      <img alt="Contact" src="../assets/contact_mail.png" width="200vw">
      <v-card-text class="text-title">Kontakt</v-card-text>    

      <v-card-text class="text-content">Institut für Multimediale und interaktive Systeme (IMIS)</v-card-text>
      <v-card-text class="text-content">Universität zu Lübeck</v-card-text>
      <v-card-text class="text-content">Gebäude 64, 1. Stock, Raum 5</v-card-text>
      <v-card-text class="text-content">Ratzeburger Allee 160</v-card-text>    
      <v-card-text class="text-content">D-23562 Lübeck</v-card-text>

      <v-card-text class="text-content">Tel: +49 451-3101 5101</v-card-text>
      <v-card-text class="text-content">Fax: +49 451-3101 5104</v-card-text>
      
      <v-card-text class="text-content">E-Mail: office@imis.uni-luebeck.de</v-card-text>
      <v-card-text class="text-content">Website: www.imis.uni-luebeck.de</v-card-text>
    </v-card>

    <v-divider class="divider"></v-divider>

    <v-card id="privacy">
      <img alt="Policy" src="../assets/policy.png" width="200vw">
      <v-card-text class="text-title">Rechtliche Hinweise und Datenschutz</v-card-text>
      <v-card-text class="text-content">Universität zu Lübeck</v-card-text>
      <v-card-text class="text-content">Ratzeburger Allee 160</v-card-text>
      <v-card-text class="text-content">D-23562 Lübeck</v-card-text>

      <v-card-text class="h1">Rechtlicher Vertreter</v-card-text>
      <v-card-text class="text-content">Die Universität zu Lübeck ist eine öffentlich-rechtliche Stiftung, die durch ihre Präsidenting Prof. Dr. med. Gabriele Gillessen-Kaesbach repräsentiert wird.</v-card-text>
      <v-card-text class="text-content">Die Universität erfüllt ihre öffentlichen Aufgaben in eigener Regie unter der Rechtsaufsicht der staatlichen Regulierungsbehörde, dem Ministerium für Soziales, Gesundheit, Wissenschaft und Gleichstellung. </v-card-text>
      <v-card-text class="text-content">Ministry of Social Affairs, Health, Science and Equality</v-card-text>
      <v-card-text class="text-content">D-24105 Kiel</v-card-text>
      <v-card-text class="text-content">Düsternbrooker Weg 104</v-card-text>
      <v-card-text class="text-content">Germany</v-card-text>
    </v-card>

    <v-divider style="
      width: 50vw;
      margin-left: 25vw;
      margin-top: 5vh;
      margin-bottom: 5vh;
      background: #ff6600;
      "
    ></v-divider>

    <v-card id="dsgvo">
      <v-card-text class="text-title">Datenschutzerklärung nach der Datenschutz-Grundverordnung (DSGVO)</v-card-text>
      <v-card-text class="h1">1. Name und Anschrift der Verantwortlichen</v-card-text>
      <v-card-text class="text-content">Die Verantwortlichen im Sinne der DSGVO und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen sind die:</v-card-text>
      <v-card-text class="text-center">Universität zu Lübeck</v-card-text>
      <v-card-text class="text-center">Prof. Dr. med. Gabriele Gillessen-Kaesebach - President -</v-card-text>
      <v-card-text class="text-center">Ratzeburger Allee 160</v-card-text>
      <v-card-text class="text-center">23562 Lübeck</v-card-text>
      <v-card-text class="text-center">Germany</v-card-text>
      <v-card-text class="text-center">Tel.: +49 451 3101 1000</v-card-text>
      <v-card-text class="text-center">E-Mail: praesidentin@uni-luebeck.de</v-card-text>
      <v-card-text class="text-center">Website: www.uni-luebeck.de</v-card-text>

      <v-card-text class="h1">2. Name und Anschrift des Datenschutzbeauftragten</v-card-text>
      <v-card-text class="text-center">Dr. phil. Stefan Braun</v-card-text>
      <v-card-text class="text-center">Ratzeburger Allee 160</v-card-text>
      <v-card-text class="text-center">23562 Lübeck</v-card-text>
      <v-card-text class="text-center">Germany</v-card-text>
      <v-card-text class="text-center">Tel.: +49 451 3101 1000</v-card-text>
      <v-card-text class="text-center">E-Mail: datenschutz@uni-luebeck.de</v-card-text>
      <v-card-text class="text-center">Website: www.uni-luebeck.de</v-card-text>

      <v-card-text class="h1">3. Allgemeines zur Datenverarbeitung</v-card-text>
      <v-card-text class="h2">3.1. Umfang der Verarbeitung personenbezogener Daten</v-card-text>       
      <v-card-text class="text-content">Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht mölich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.</v-card-text>
      <v-card-text class="h2">3.2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</v-card-text>       
      <v-card-text class="text-content">Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage. Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der unsere Universität unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage. Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.</v-card-text>
      <v-card-text class="h2">3.3. Datenlöschung und Speicherdauer</v-card-text>       
      <v-card-text class="text-content">Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.</v-card-text>

      <v-card-text class="h1">4. Bereitstellung der Website und Erstellung von Logfiles</v-card-text> 
      <v-card-text class="h2">4.1. Beschreibung und Umfang der Datenverarbeitung</v-card-text>          
      <v-card-text class="text-content">Bei jedem Aufruf unserer Internetseite erfasst unser System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners. Folgende Daten werden hierbei erhoben:</v-card-text>
      <v-card-text class="text-center">Informationen über den Browsertyp und die verwendete Version</v-card-text>
      <v-card-text class="text-center">Betriebssystem des Nutzers</v-card-text>
      <v-card-text class="text-center">IP-Adresse des Nutzers</v-card-text>
      <v-card-text class="text-center">HTTP-Status-Code</v-card-text>
      <v-card-text class="text-center">Base-URL</v-card-text>
      <v-card-text class="text-center">Anzahl der gesendeten Bits</v-card-text>
      <v-card-text class="text-center">Datum und Uhrzeit des Zugriffs</v-card-text>
      <v-card-text class="text-center">Benutzernamen bei autorisierenden Serviceleistungen</v-card-text>
      <v-card-text class="text-center">Websites, von denen das System des Nutzers auf unsere Internetseite gelangte (Matomo, ehemals PIWIK)</v-card-text>
      <v-card-text class="text-center">Websites, die vom System des Nutzers über unsere Website aufgerufen werden (Matomo)</v-card-text>
      <v-card-text class="text-content">Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.</v-card-text>
      <v-card-text class="h2">4.2. Rechtsgrundlage für die Datenverarbeitung</v-card-text>       
      <v-card-text class="text-content">Rechtsgrundlage für die vorübergehende Speicherung und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.</v-card-text>    
      <v-card-text class="h2">4.3. Zweck der Datenverarbeitung</v-card-text>       
      <v-card-text class="text-content">Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit unserer informationstechnischen Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt. In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO.</v-card-text>   
      <v-card-text class="h2">4.4. Dauer der Speicherung</v-card-text>       
      <v-card-text class="text-content">Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, so dass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.</v-card-text>  
      <v-card-text class="h2">4.5. Widerspruchs- und Beseitigungsmöglichkeit</v-card-text>       
      <v-card-text class="text-content">Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.</v-card-text> 

      <v-card-text class="h1">5. Kontaktformular und E-Mail-Kontakt</v-card-text> 
      <v-card-text class="h2">5.1. Beschreibung und Umfang der Datenverarbeitung</v-card-text>
      <v-card-text class="text-content">Auf unserer Internetseite ist ein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegebenen Daten an uns übermittelt und gespeichert. Im Zeitpunkt der Absendung der Nachricht werden zudem Datum und Uhrzeit gespeichert. Für die Verarbeitung der Daten wird im Rahmen des Absendevorgangs Ihre Einwilligung eingeholt und auf diese Datenschutzerklärung verwiesen. Alternativ ist eine Kontaktaufnahme über die bereitgestellte E-Mail-Adresse möglich. In diesem Fall werden die mit der E-Mail übermittelten personenbezogenen Daten des Nutzers gespeichert. Es erfolgt in diesem Zusammenhang keine Weitergabe der Daten an Dritte. Die Daten werden ausschließlich für die Verarbeitung der Konversation verwendet.</v-card-text> 
      <v-card-text class="h2">5.2. Rechtsgrundlage für die Datenverarbeitung</v-card-text>       
      <v-card-text class="text-content">Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO. Rechtsgrundlage für die Verarbeitung der Daten, die im Zuge einer Übersendung einer E-Mail übermittelt werden, ist Art. 6 Abs. 1 lit. f DSGVO. Zielt der E-Mail-Kontakt auf den Abschluss eines Vertrages ab, so ist zusätzliche Rechtsgrundlage für die Verarbeitung Art. 6 Abs. 1 lit. b DSGVO.</v-card-text> 
      <v-card-text class="h2">5.3. Zweck der Datenverarbeitung</v-card-text>       
      <v-card-text class="text-content">Die Verarbeitung der personenbezogenen Daten aus der Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Im Falle einer Kontaktaufnahme per E-Mail liegt hieran auch das erforderliche berechtigte Interesse an der Verarbeitung der Daten. Die sonstigen während des Absendevorgangs verarbeiteten personenbezogenen Daten dienen dazu, einen Missbrauch des Kontaktformulars zu verhindern und die Sicherheit unserer informationstechnischen Systeme sicherzustellen.</v-card-text>
      <v-card-text class="h2">5.4. Dauer der Speicherung</v-card-text>       
      <v-card-text class="text-content">Die Daten werden gelöscht, sobald sie für die Erreichung des Zwecks ihrer Erhebung nicht mehr erforderlich sind. Für die personenbezogenen Daten aus der Eingabemaske des Kontaktformulars und diejenigen, die per E-Mail übersandt wurden, ist dies dann der Fall, wenn die jeweilige Konversation mit dem Nutzer beendet ist. Beendet ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt abschließend geklärt ist. Die während des Absendevorgangs zusätzlich erhobenen personenbezogenen Daten werden spätestens nach einer Frist von sieben Tagen gelöscht.</v-card-text>
      <v-card-text class="h2">5.5. Widerspruchs- und Beseitigungsmöglichkeit</v-card-text>       
      <v-card-text class="text-content">Der Nutzer hat jederzeit die Möglichkeit, seine Einwilligung zur Verarbeitung der personenbezogenen Daten zu widerrufen. Nimmt der Nutzer per E-Mail Kontakt mit uns auf, so kann er der Speicherung seiner personenbezogenen Daten jederzeit widersprechen. In einem solchen Fall kann die Konversation nicht fortgeführt werden. Alle personenbezogenen Daten, die im Zuge der Kontaktaufnahme gespeichert wurden, werden in diesem Fall gelöscht.</v-card-text>

      <v-card-text class="h1">6. Rechte der betroffenen Person</v-card-text> 
      <v-card-text class="text-content">Werden personenbezogenen Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu:</v-card-text> 
      <v-card-text class="h2">6.1. Auskunftsrecht</v-card-text>       
      <v-card-text class="text-content">Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personenbezogenen Daten, die Sie betreffen, von uns verarbeitet werden. Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen über folgende Informationen Auskunft verlangen:</v-card-text>         
      <v-card-text class="text-content">die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden; die Kategorien von personenbezogenen Daten, welche verarbeitet werden; die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die Sie betreffenden personenbezogenen Daten offengelegt wurden oder noch offengelegt werden;</v-card-text>         
      <v-card-text class="text-content">die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht möglich sind, Kriterien für die Festlegung der Speicherdauer;</v-card-text>         
      <v-card-text class="text-content">das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten eines Rechts auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;</v-card-text>         
      <v-card-text class="text-content">alle verfügbaren Informationen über die Herkunft der Daten, wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden; das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.</v-card-text>  
      <v-card-text class="text-content">Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden personenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt werden. In diesem Zusammenhang können Sie verlangen, über die geeigneten Garantien gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.</v-card-text>   
      <v-card-text class="text-content">Bei Datenverarbeitung zu wissenschaftlichen, historischen oder statistischen Forschungszwecken kann dieses Auskunftsrecht insoweit beschränkt werden, als er voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die Erfüllung der Forschungs- oder Statisktikzwecke notwendig ist.</v-card-text>   
      <v-card-text class="h2">6.2. Recht auf Berichtigung</v-card-text>       
      <v-card-text class="text-content">Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Verantwortlichen, sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig sind. Der Verantwortliche hat die Berichtigung unverzüglich vorzunehmen. Bei Datenverarbeitung zu wissenschaftlichen, historischen oder statistischen Forschungszwecken kann Ihr Recht auf Berichtigung insoweit beschränkt werden, als es voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke unmöglich macht oder ernsthaft beeinträchtigt und die Beschränknkung für die Erfüllung der Forschungs- oder Statistikzwecke notwendig ist.</v-card-text> 
      <v-card-text class="h2">6.3. Recht auf Einschränkung der Verarbeitung</v-card-text>       
      <v-card-text class="text-content">Unter den folgenden Voraussetzungen können Sie die Einschränkung der Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen:</v-card-text>         
      <v-card-text class="text-content">wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;</v-card-text>         
      <v-card-text class="text-content">die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;</v-card-text>   
      <v-card-text class="text-content">der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benótigt, oder wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.</v-card-text> 
      <v-card-text class="text-content">Wurde die Verarbeitung der Sie betreffenden personenbezogenden Daten eingeschränkt, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsaansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder e eines Mitgliedstaats verarbeitet werden. Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen eingeschränkt, werden Sie von dem Verantwortlichen unterrichtet, bevor die Einscchränkung aufgehoben wird. Ihr Recht auf Einschränkung der Verarbeitung kann insoweit beschränkt werden, als es voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die Erfüllung der Forschungs- oder Statistikzwecke notwendig ist.</v-card-text>   
      <v-card-text class="h2">6.4. Recht auf Lösung</v-card-text>       
      <v-card-text class="h3">a) Löschungspflicht</v-card-text>        
      <v-card-text class="text-content">Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen, sofern einer der folgenden Gründe zutrifft:</v-card-text>      
      <v-card-text class="text-content">Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig. Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.</v-card-text>      
      <v-card-text class="text-content">Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gem. Art. 21 Abs. 2 DSGVO Widerspruch gegen die Verarbeitung ein. Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig verarbeitet.</v-card-text>      
      <v-card-text class="text-content">Die Löschung der Sie betreffenden personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche unterliegt. Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gem. Art. 8 Abs. 1 DSGVO erhoben.</v-card-text> 
      <v-card-text class="h3">b) Information an Dritte</v-card-text>       
      <v-card-text class="text-content">Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten öffentlich gemacht und ist er gem. Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so trifft er unter Berücksichtigung der verfügbaren Technologie und der Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als betroffene Person von ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.</v-card-text> 
      <v-card-text class="h3">c) Ausnahmen</v-card-text>       
      <v-card-text class="text-content">Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich ist</v-card-text>       
      <v-card-text class="text-content">zur Ausübung des Rechts auf freie Meinungsäußerung und Informationen; zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde;</v-card-text>        
      <v-card-text class="text-content">aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gem. Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;</v-card-text>        
      <v-card-text class="text-content">für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder für statistische Zwecke gem. Art. 89 Abs. 1 DSGVO, soweit das unter Abschnitt a) genannte Recht voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, oder</v-card-text>      
      <v-card-text class="text-content">zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</v-card-text>
      <v-card-text class="h2">6.5. Recht auf Unterrichtung</v-card-text>       
      <v-card-text class="text-content">Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfängern, denen die Sie betreffenden personenbezogenen Daten offfengelegt wurden, diese Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden. Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger unterrichtet zu werden.</v-card-text> 
      <v-card-text class="h2">6.6. Recht auf Datenübertragbarkeit</v-card-text>       
      <v-card-text class="text-content">Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Außerdem haben Sie das Recht diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermittlen, sofern die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs. 1 lit. b DSGVO beruht und die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</v-card-text> 
      <v-card-text class="text-content">In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass Sie betreffenden personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist. Freiheiten und Rechte anderer Personen dürfen hierdurch nicht beeinträchtigt werden.</v-card-text> 
      <v-card-text class="text-content">Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung personenbezogener Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde.</v-card-text> 
      <v-card-text class="h2">6.7. Widerspruchsrecht</v-card-text>       
      <v-card-text class="text-content">Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergaben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling. Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, er kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet. Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr Widerspruchsrecht mittels automatisierter Verfahren auszuüben, bei denen technische Spezifikationen verwendet werden. Ihr Widerspruchsrecht kann insoweit beschränkt werden, als es voraussichtlich die Verwirklichung der Forschungs- oder Statistikzwecke unmöglich macht oder ernsthaft beeinträchtigt und die Beschränkung für die Erfüllung der Forschungsungs- oder Statistikzwecke notwendig ist.</v-card-text> 
      <v-card-text class="h2">6.8. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung</v-card-text>       
      <v-card-text class="text-content">Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</v-card-text> 
      <v-card-text class="h2">6.9. Automatisierte Entscheidung im Einzelfall einschließlich Profiling</v-card-text>       
      <v-card-text class="text-content">Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Dies gilt nicht, wenn die Entscheidung für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und dem Verantwortlichen erforderlich ist, aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten Interessen enthalten oder mit Ihrer ausdrücklichen Einwilligung erfolgt.</v-card-text>
      <v-card-text class="text-content">Allerdings dürfen diese Entscheidungen nicht auf besonderen Kategorien personenbezogener Daten nach Art. 9 Abs. 1 DSGVO beruhen, sofern nicht Art. 9 Abs. 2 lit. a oder g DSGVO gilt und angemessene Maßnahmen zum Schutz der Rechte und Freiheiten sowie Ihrer berechtigten Interessen getroffen wurden. Hinsichtlich der in 1. und 3. genannten Fälle trifft der Verantwortliche angemessene Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten I Interessen zu wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.</v-card-text>
      <v-card-text class="h2">6.10. Recht auf Beschwerde bei einer Aufsichtsbehörde</v-card-text> 
      <v-card-text class="text-content">Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt. Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde, unterrichtet den Beschwerdeführere über den Stand und die Ergebnisse der Beschwerde einschließlich der Möglichkeit eines gerichtlichen Rechtsbehelfs nach Art. 78 DSGVO.</v-card-text>
    </v-card>

    <img class="to-top" alt="Nach oben" src="../assets/baseline.png" @click="$vuetify.goTo('#app')">

    <v-footer id="footer-h-page">
      <v-card style="box-shadow:none; background-color:#004B5A; width:100vw;">
      <v-card-text class="footer-info">Insitut für Multimediale und Interaktive Systeme (IMIS), Universität zu Lübeck</v-card-text>
      <v-divider id="footer-divider"></v-divider>
      <v-card-text class="footer-info">2019 - Bachelor Pojekt WS 2019/20</v-card-text>
      </v-card>
    </v-footer>
  </div>
</template>

<style>
  .h1 {
    font-size: 25px !important;
    text-align: center;
    margin-top: 4vh !important;
    margin-bottom: 4vh;
  }
  .h2 {
    font-size: 23px !important;
    text-align: center;
    margin-top: 4vh !important;
    margin-bottom: 4vh;
  }
  .h3 {
    font-size: 21px !important;
    text-align: left;
    margin-top: 4vh !important;
    margin-bottom: 4vh;
    text-align: center;
  }
  .text-content {
    font-size: 18px;
    cursor: default;
    width: 50vw;
    text-align: left;
    margin-left: 0;
    margin-bottom: 1vh !important;
  }
  .text-center {
    font-size: 18px !important;
    cursor: default;
    width: 50vw;
    text-align: left;
    margin-left: 27vw;
    margin-bottom: 1vh;
    max-width: 75vw;
    margin-right: 5vw;
  }
</style>

<script>
import CountryFlag from 'vue-country-flag'
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

export default {
  name: "app",
  props: {
    language: String
  },
  components: {
    CountryFlag
  },
  data() {
    return {
      head: [],
      content: [],
      overlay: false,
      flag: "",
      screenWidth: true
    };
  },

  async created() {
    if (this.language == "GER") {
        this.head = res.elements.homepage.head;
        this.content = res.elements.homepage.content;
        this.flag = "de";
      } else if (this.language == "ENG") {
        this.head = resEng.elements.homepage.head;
        this.content = resEng.elements.homepage.content;
        this.flag = "gb";
      }

    var width = window.screen.availWidth;
    if(width < 400) {
      this.screenWidth = false;
    }
  },

  methods: {
    changeLanguage(lang) {
      if(lang == "GER") {
        this.flag = "de"
        this.head = res.elements.homepage.head;
        this.content = res.elements.homepage.content;
      } else {
        this.flag = "gb"
        this.head = resEng.elements.homepage.head;
        this.content = resEng.elements.homepage.content;
      }
      this.$parent.changeLanguage(lang);
      this.overlay = !this.overlay;
    },

    nextPage() {
      this.$parent.start();
    },
    adminArea() {
      this.$parent.login();      
    }
  }
}
</script>