<template>
<!--This components is used to get the gender and age of the test user-->
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
        <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--gender input with radio buttons-->
    <v-radio-group class="radio">
      <v-radio :label = gender[0] value="male" id="g0" color="#ff6600"></v-radio>
      <v-radio :label = gender[1] value="female" id="g1" color="#ff6600"></v-radio>
      <v-radio :label= gender[2] value="diverse" id="g2" color="#ff6600"></v-radio>
      <v-radio :label = gender[3] value="na" id="g3" color="#ff6600"></v-radio>
    </v-radio-group>
    <!--age input-->
    <v-row class="vrow">
    <p class="input-prefix">{{age.input1}}</p>
    <v-text-field class="input" :rules="rulesAge" id="age"></v-text-field>
    <p class="input-suffix">{{age.input2}}</p>
    </v-row>
    
    <v-btn id="nextButton" @click="nextPage">{{button}}</v-btn>

    <v-snackbar 
      id="snack"
      v-model="snackbar"
      :timeout="2000">
      {{snackTxt}}
    </v-snackbar>

    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="83.3" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
//import data for interface
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

export default {
  name: "app",
  props: {
    language: String
  },
  data() {
    return {
      age: [],
      gender: [],
      button: [],
      messages: [],
      snackbar: false,
      snackTxt: "",
      head: [],
      elementName: "",
      rulesAge: [
        value => !!value || this.messages.required,
        value => (value || '').length <= 3 || this.messages.age,
        value => value < 151 || this.messages.age,
        value => {
          const pattern = /[0-9]/
          return pattern.test(value) || this.messages.inputType
        },
      ],
    };
  },
  //load data to show in interface
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.information.head;
        this.messages = res.elements.information.messages;     
        this.age = res.elements.information.age;   
        this.button = res.buttons.next;

        this.gender.push(res.elements.information.gender.male);
        this.gender.push(res.elements.information.gender.female);
        this.gender.push(res.elements.information.gender.diverse);
        this.gender.push(res.elements.information.gender.unspecified);
      } else if (this.language == "ENG") {
        this.head = resEng.elements.information.head;
        this.messages = resEng.elements.information.messages;
        this.age = resEng.elements.information.age;  
        this.button = resEng.buttons.next;   
        
        this.gender.push(resEng.elements.information.gender.male);
        this.gender.push(resEng.elements.information.gender.female);
        this.gender.push(resEng.elements.information.gender.diverse);
        this.gender.push(resEng.elements.information.gender.unspecified);
      }      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    /*
    Show next component.
    Depending on test group parameters components can be skipped.
    Evaluate used components and choose next component
    */
    nextPage() {
      var gender;
      var age = document.getElementById("age").value;

      if(document.getElementById("g0").checked) {
        gender = document.getElementById("g0").value;
      }
      else if(document.getElementById("g1").checked) {
        gender = document.getElementById("g1").value;
      }
      else if(document.getElementById("g2").checked) {
        gender = document.getElementById("g2").value;
      }
      else if(document.getElementById("g3").checked) {
        gender = document.getElementById("g3").value;
      } else {
        if(age.length == 0) {
          this.snackTxt = this.messages.ageError;
        } else {
          this.snackTxt = this.messages.genderError;
        }
        this.snackbar=true;
        return
      }
      //check for valid age
      if(age > 0 && age < 151) {  
        this.$parent.results(gender, age);        
      } else {
        this.snackTxt = this.messages.ageAndGender;  
        this.snackbar=true; 
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}

</style>
