<!--
This component is used to create new items.
New items are not validated and require a question and target/distractors
This component is only available for administrators.
-->
<template>
  <div data-app class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--question input-->
    <v-text-field
      class="inputCreation"
      v-model="item"
      id="item"
      :rules="rulesQuestion"
      :label = content.question
    ></v-text-field>
    <!--target group input-->
    <h3 class="text-instruction">{{content.groupType}}</h3>
    <v-radio-group class="radio" v-model="targetType">
      <v-radio :label = content.type0 value="0" color="#ff6600"></v-radio>
      <v-radio :label = content.type1 value="1" color="#ff6600"></v-radio>
    </v-radio-group>
    <v-overflow-btn class="overflowCreation" :items="groupIDs" :label = content.group v-model="type"></v-overflow-btn>
    <!--file input for images-->
    <v-file-input
      class="fileInput"
      @change="handleImage"
      v-model="iconInput"
      v-if="!showTextInput && showFileInput"
      multiple
      :label = content.fileInput
    ></v-file-input>
    <v-btn id="adminButton" @click="showImage = !showImage" v-if="targetType == 0">{{content.upload}}n</v-btn>
    <!--show targets, can be images or text-->
    <v-row class="vrow" v-if="!showTextInput && showImage">
      <v-col cols="12" sm="6" offset-sm="3">
        <v-container fluid>
          <v-row class="rowAnsw">
            <v-col v-for="(n, index) in targetIcons" :key="n" class="d-flex child-flex" cols="3">
              <v-card flat tile outlined class="d-flex">
                <v-img
                  v-if="!showTextInput && showImage"
                  id="symbolTarget"
                  :src="getImg(index)"
                  v-on:click="selection(index)"
                  aspect-ratio="1"
                  contain
                  class="grey lighten-2"
                >
                  <template v-slot:placeholder>
                    <v-row class="fill-height ma-0" align="center" justify="center">
                      <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <!--text answers target selection through radio buttons, loop doesnt work so six inputs are necessary-->
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[0]"
      id="item"
      :label = content.target
      :append-outer-icon="marker0 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(0)"
    ></v-text-field>
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[1]"
      id="item"
      :label = content.target
      :append-outer-icon="marker1 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(1)"
    ></v-text-field>
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[2]"
      id="item"
      :label = content.target
      :append-outer-icon="marker2 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(2)"
    ></v-text-field>
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[3]"
      id="item"
      :label = content.target
      :append-outer-icon="marker3 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(3)"
    ></v-text-field>
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[4]"
      id="item"
      :label = content.target
      :append-outer-icon="marker4 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(4)"
    ></v-text-field>
    <v-text-field
      v-if="showTextInput"
      class="inputCreation"
      :readonly="textActive"
      v-model="textTarget[5]"
      id="item"
      :label = content.target
      :append-outer-icon="marker5 ? 'mdi-radiobox-marked' : 'mdi-radiobox-blank'"
      @click:append-outer="toggleTarget(5)"
    ></v-text-field>
    <v-spacer></v-spacer>
    <v-btn id="backButton" @click="postItem">{{content.create}}</v-btn>
    <v-spacer></v-spacer>
    <v-btn id="backButton" @click="showAdminpage">{{buttons.returnAdmin}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
import axios from "axios";
import data from "../data/db.json";
import resEng from "../data/dbEng.json";

//api URLs
const baseURL = "newItems";
const baseURL3 = "grouplinks";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      head: [],
      content: [],
      messages: [],
      buttons: [],
      snackbar: false,
      snackTxt: "",
      showFileInput: false,
      showImage: true,
      iconInput: [],
      targetIcons: [],
      showTextInput: false,
      marker0: false,
      marker1: false,
      marker2: false,
      marker3: false,
      marker4: false,
      marker5: false,
      target: "",
      lastID: [],
      groupLinks: [],
      groupIDs: [],
      icon: [],
      text: [],
      targetType: "0",
      type: [],
      item: "",
      imageSrc: null,
      image: [],
      base64: [],
      elementName: "",
      textTarget: ["", "", "", "", "", ""],
      textActive: false,
      newTarget: {
        groupID: null,
        target0: null,
        target1: null,
        target2: null,
        target3: null,
        target4: null,
        target5: null,
        target6: null,
        target7: null
      },
      newItem: {
        question: null,
        target: null,
        groupID: null,
        symbol: null
      },
      rulesQuestion: [value => !!value || "Benötigt."],
      tmp: ""
    };
  },

  watch: {
    //show when target has been selected
    target: function() {
      this.snackbar = true;
      this.snackTxt = "Target ausgewählt";
    },

    //change display depending on selected target type
    targetType: function(val) {
      this.type = [];
      if (val == "0") {
        this.showTextInput = false;
        this.groupIDs = this.icon;
      } else {
        this.showTextInput = true;
        this.groupIDs = this.text;
      }
    },

    //load selected target group in display
    type: function(val) {
      var groups = this.groupLinks;
      var target = [];
      var textAct = false;

      if (val != "Neue Gruppe") {
        this.showFileInput = false;
      } else {
        this.showFileInput = true;
      }
      //image targets
      if (this.targetType == 0) {
        this.targetIcons = [];
        var i = 0;
        for (i; i < groups.length; i++) {
          if (groups[i].groupID == val) {
            this.targetIcons[0] = groups[i].target0;
            this.targetIcons[1] = groups[i].target1;
            this.targetIcons[2] = groups[i].target2;
            this.targetIcons[3] = groups[i].target3;
            this.targetIcons[4] = groups[i].target4;
            this.targetIcons[5] = groups[i].target5;
            this.targetIcons[6] = groups[i].target6;
            this.targetIcons[7] = groups[i].target7;
          }
        }
      //text targets
      } else {
        Object.keys(groups).map(function(key) {
          //loop through array of brake values with iterator key
          if (groups[key].groupID == val) {
            target[0] = groups[key].target0;
            target[1] = groups[key].target1;
            target[2] = groups[key].target2;
            target[3] = groups[key].target3;
            target[4] = groups[key].target4;
            target[5] = groups[key].target5;
            textAct = true;
          }
        });
        this.textActive = textAct;
        this.textTarget = target;
      }
    }
  },

  /*
  Get required data from server and create item template.
  Load all old targets groups to use them in display.
  */
  async created() {
    try {
      if (this.language == "GER") {
        this.head = data.elements.createItem.head;
        this.content = data.elements.createItem.content;
        this.messages = data.elements.createItem.messages;
        this.buttons = data.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.createItem.head;
        this.content = resEng.elements.createItem.content;
        this.messages = resEng.elements.createItem.messages;
        this.buttons = resEng.buttons;
      }

      const res3 = await axios.get(this.url + baseURL3);
      const res = await axios.get(this.url + baseURL3 + "/lastID" + "/" + this.$store.state.userID + "/" + this.$store.state.token);    
      
      this.lastID = res.data.groupID
      this.groupLinks = res3.data.groups;
      this.lastID = Object.values(this.lastID)
      this.lastID = this.lastID[0];
      this.lastID++
      this.lastID = "g" + this.lastID;

      var groups = this.groupLinks;
      var iconTMP = [this.messages.newGroup];
      var textTMP = [this.messages.newGroup];
      Object.keys(groups).map(function(key) {
        //loop through array of brake values with iterator key
        if (groups[key].target7 != null) {
          iconTMP.push(groups[key].groupID);
        } else {
          textTMP.push(groups[key].groupID);
        }
      });

      this.icon = iconTMP;
      this.text = textTMP;
      this.groupIDs = iconTMP;
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //load image, choose between png image and base64 data and pick fitting data return
    getImg(index) {
      if (this.type == this.messages.newGroup) {
        return this.targetIcons[index];
      } else {
        var images = require.context("../data/images/", false, /\.png$/); //build standard import string
        return images("./" + this.targetIcons[index] + ".png"); //add image name from parameter to import string, return full import string
      }
    },

    //new uploaded images are converted to base64 data to store in database, store in array
    handleImage() {
      this.targetIcons = [];
      const selectedImage = this.iconInput;
      var i = 0;
      for (i; i < this.iconInput.length; i++) {
        this.tmp += 1;
        this.createBase64Image(selectedImage[i], i);
      }
      this.showImage = false;
    },

    //helper function for handleImage(), converts to base64
    createBase64Image(fileObject, iterator) {
      const reader = new FileReader();
      reader.onload = e => {
        this.targetIcons[iterator] = e.target.result;
      };
      reader.readAsDataURL(fileObject);
    },

    //set target to selected item, given through index parameter
    selection(index) {
      this.target = this.targetIcons[index];
    },

    //show only one last selected radio button as actice, array doesnt work well with vuetify component
    toggleTarget(index) {
      this.target = this.textTarget[index];
      if (index == 0) {
        this.marker0 = true;
        this.marker1 = false;
        this.marker2 = false;
        this.marker3 = false;
        this.marker4 = false;
        this.marker5 = false;
      } else if (index == 1) {
        this.marker0 = false;
        this.marker1 = true;
        this.marker2 = false;
        this.marker3 = false;
        this.marker4 = false;
        this.marker5 = false;
      } else if (index == 2) {
        this.marker0 = false;
        this.marker1 = false;
        this.marker2 = true;
        this.marker3 = false;
        this.marker4 = false;
        this.marker5 = false;
      } else if (index == 3) {
        this.marker0 = false;
        this.marker1 = false;
        this.marker2 = false;
        this.marker3 = true;
        this.marker4 = false;
        this.marker5 = false;
      } else if (index == 4) {
        this.marker0 = false;
        this.marker1 = false;
        this.marker2 = false;
        this.marker3 = false;
        this.marker4 = true;
        this.marker5 = false;
      } else if (index == 5) {
        this.marker0 = false;
        this.marker1 = false;
        this.marker2 = false;
        this.marker3 = false;
        this.marker4 = false;
        this.marker5 = true;
      }
    },

    /*
    Validate input data, when data valid create new item.
    Send new Item to server as not validated item.
    When a new target group was created send this group to server with new groupID
    */
    postItem() {
      //check for valid data
      if (this.item == "") {
        this.snackTxt = this.messages.badQuestion
        this.snackbar = true;
      } else if(this.targetType == "0" && this.targetIcons.length != 8) {
        this.snackTxt = this.messages.badIcons
        this.snackbar = true;
      } else if(this.targetType == "1" && this.textTarget.length != 6) {
        this.snackTxt = this.messages.badText
        this.snackbar = true;
      } else if(this.target == "") {
        this.snackTxt = this.messages.badAnswers
        this.snackbar = true;
      } else {
        this.snackTxt = this.messages.itemCreated
        this.snackbar = true;
        //check for new target group, upload new group
        if (this.targetType == "0") {
          if (this.type == this.messages.newGroup) {
            this.newTarget.groupID = this.lastID;
            this.newTarget.target0 = this.targetIcons[0];
            this.newTarget.target1 = this.targetIcons[1];
            this.newTarget.target2 = this.targetIcons[2];
            this.newTarget.target3 = this.targetIcons[3];
            this.newTarget.target4 = this.targetIcons[4];
            this.newTarget.target5 = this.targetIcons[5];
            this.newTarget.target6 = this.targetIcons[6];
            this.newTarget.target7 = this.targetIcons[7];
            axios.post(this.url + baseURL3 + "/" + this.$store.state.userID + "/" + this.$store.state.token, this.newTarget);

            this.newItem.groupID = this.lastID;
          } else {
            this.newItem.groupID = this.type;
          }
        } else {
          if (this.type == this.messages.newGroup) {
            this.newTarget.groupID = this.lastID;
            this.newTarget.target0 = this.textTarget[0];
            this.newTarget.target1 = this.textTarget[1];
            this.newTarget.target2 = this.textTarget[2];
            this.newTarget.target3 = this.textTarget[3];
            this.newTarget.target4 = this.textTarget[4];
            this.newTarget.target5 = this.textTarget[5];
            this.newTarget.target6 = this.textTarget[6];
            this.newTarget.target7 = this.textTarget[7];
            axios.post(this.url + baseURL3 + "/" + this.$store.state.userID + "/" + this.$store.state.token, this.newTarget);

            this.newItem.groupID = this.lastID;
          } else {
            this.newItem.groupID = this.type;
          }
        }
        //create item object
        this.newItem.question = this.item;
        this.newItem.target = this.target;

        if (this.targetType == "0") {
          this.newItem.symbol = true;
        } else {
          this.newItem.symbol = false;
        }
        //send item to server
        axios.post(this.url + baseURL + "/" + this.$store.state.userID + "/" + this.$store.state.token, this.newItem);
      }
    },

    //return to adminpage component
    showAdminpage() {
      this.$parent.itemCreation();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
