<template>
<!--This component shows live result of specified test group.
To display the data a histogram is used.
Periodically requests new data from server and adds new elements to histogram-->
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--histogram to display data-->
    <v-container class="chartResult">
      <pure-vue-chart
        :points="values"
        :width="width"
        :height="height"
        :show-x-axis="true"
        :show-y-axis="false"
        :show-values="true"
      />
    </v-container>
    <v-spacer></v-spacer>
    <v-spacer></v-spacer>
    <v-btn id="nextButton" @click="nextPage">{{buttons.return}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import packages and data
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import PureVueChart from "pure-vue-chart";
import axios from "axios";

//api URL
const baseURL = "userData/";

export default {
  name: "app",  
  components: {
    PureVueChart
  },
  props: {
    lastPage: String,
    url: String,
    language: String
    },
  data() {    
    return {
      //interval: setInterval(this.updateTmp, 1000),
      tmp: '',
      dataDB: [],
      snackbar: false,
      snackTxt: "",
      head: [],
      buttons: [],
      width: window.screen.availWidth / 2,
      height: window.screen.availHeight / 2,
      values: [
        { label: "-3 - -2.5", value: 0 },
        { label: "-2.5 - -2", value: 0 },
        { label: "-2 - -1.5", value: 0 },
        { label: "-1.5 - -1", value: 0 },
        { label: "-1 - -0.5", value: 0 },
        { label: "-0.5 - 0", value: 0 },
        { label: "0 - 0.5", value: 0 },
        { label: "0.5 - 1", value: 0 },
        { label: "1 - 1.5", value: 0 },
        { label: "1.5 - 2", value: 0 },
        { label: "2 - 2.5", value: 0 },
        { label: "2.5 - 3", value: 0 }
      ],
      valuesDifficulty: []
    };
  },

  /*
  Get results of group form server and set them to histogram variable.
  The values for the histogram are split into 0.5 range areas.
  Add group results to array of values in histogram
  */
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.liveResult.head;
        this.buttons = res.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.liveResult.head;
        this.buttons = res.buttons;
      }

      //get data from server
      this.updateData();

      const dataInput = await axios.get(
        this.url + baseURL +
          this.$store.state.lastGroup +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );

      this.sleepApplication(1000).then(() => {
        this.dataDB = dataInput.data.data;
      
      //create value ares for histogram
      var valuesTMP = [
        { label: "-3 - -2.5", value: 0 },
        { label: "-2.5 - -2", value: 0 },
        { label: "-2 - -1.5", value: 0 },
        { label: "-1.5 - -1", value: 0 },
        { label: "-1 - -0.5", value: 0 },
        { label: "-0.5 - 0", value: 0 },
        { label: "0 - 0.5", value: 0 },
        { label: "0.5 - 1", value: 0 },
        { label: "1 - 1.5", value: 0 },
        { label: "1.5 - 2", value: 0 },
        { label: "2 - 2.5", value: 0 },
        { label: "2.5 - 3", value: 0 }];
      var dataTMP = this.dataDB;

      //map results of test group to histogram value array
      Object.keys(this.dataDB).map(function(key) {    //loop through items
        if(dataTMP[key].final_Difficulty <= -2.5 && dataTMP[key].final_Difficulty > -3) {
          valuesTMP[0].value = valuesTMP[0].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= -2 && dataTMP[key].final_Difficulty > -2.5) {
          valuesTMP[1].value = valuesTMP[1].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= -1.5 && dataTMP[key].final_Difficulty > -2) {
          valuesTMP[2].value = valuesTMP[2].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= -1 && dataTMP[key].final_Difficulty > -1.5) {
          valuesTMP[3].value = valuesTMP[3].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= -0.5 && dataTMP[key].final_Difficulty > -1) {
          valuesTMP[4].value = valuesTMP[4].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 0 && dataTMP[key].final_Difficulty > -0.5) {
          valuesTMP[5].value = valuesTMP[5].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 0.5 && dataTMP[key].final_Difficulty > 0) {
          valuesTMP[6].value = valuesTMP[6].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 1 && dataTMP[key].final_Difficulty > 0.5) {
          valuesTMP[7].value = valuesTMP[7].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 1.5 && dataTMP[key].final_Difficulty > 1) {
          valuesTMP[8].value = valuesTMP[8].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 2 && dataTMP[key].final_Difficulty > 1.5) {
          valuesTMP[9].value = valuesTMP[9].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 2.5 && dataTMP[key].final_Difficulty > 2) {
          valuesTMP[10].value = valuesTMP[10].value + 1;
        } 
        if(dataTMP[key].final_Difficulty <= 3 && dataTMP[key].final_Difficulty > 2.5) {
          valuesTMP[11].value = valuesTMP[11].value + 1;
        }
      });
      this.values = valuesTMP;
      })      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {   
    //send application sleep for interval time
    sleepApplication(time) {
      return new Promise(resolve => setTimeout(resolve, time));
    },

    /*
    Request every ten seconds new data from server.
    Create new value area when new data available.
    The histogram component is quite static, so to add new values all values must be reset and written again.
    */
    updateData() {
      //get data from server
      this.tmp = setInterval(function() {
        axios.get(this.url + baseURL + this.$store.state.lastGroup + "/" + this.$store.state.userID + "/" + this.$store.state.token).then(response => {
          this.sleepApplication(1000).then(() => {
            this.dataDB = response.data.data;
            
            //value areas
            var valuesTMP = [
          { label: "-3 - -2.5", value: 0 },
          { label: "-2.5 - -2", value: 0 },
          { label: "-2 - -1.5", value: 0 },
          { label: "-1.5 - -1", value: 0 },
          { label: "-1 - -0.5", value: 0 },
          { label: "-0.5 - 0", value: 0 },
          { label: "0 - 0.5", value: 0 },
          { label: "0.5 - 1", value: 0 },
          { label: "1 - 1.5", value: 0 },
          { label: "1.5 - 2", value: 0 },
          { label: "2 - 2.5", value: 0 },
          { label: "2.5 - 3", value: 0 }];
        var dataTMP = this.dataDB;

        //map data to histogram display array
        Object.keys(this.dataDB).map(function(key) {    //loop through items
          if(dataTMP[key].final_Difficulty <= -2.5 && dataTMP[key].final_Difficulty > -3) {
            valuesTMP[0].value = valuesTMP[0].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= -2 && dataTMP[key].final_Difficulty > -2.5) {
            valuesTMP[1].value = valuesTMP[1].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= -1.5 && dataTMP[key].final_Difficulty > -2) {
            valuesTMP[2].value = valuesTMP[2].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= -1 && dataTMP[key].final_Difficulty > -1.5) {
            valuesTMP[3].value = valuesTMP[3].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= -0.5 && dataTMP[key].final_Difficulty > -1) {
            valuesTMP[4].value = valuesTMP[4].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 0 && dataTMP[key].final_Difficulty > -0.5) {
            valuesTMP[5].value = valuesTMP[5].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 0.5 && dataTMP[key].final_Difficulty > 0) {
            valuesTMP[6].value = valuesTMP[6].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 1 && dataTMP[key].final_Difficulty > 0.5) {
            valuesTMP[7].value = valuesTMP[7].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 1.5 && dataTMP[key].final_Difficulty > 1) {
            valuesTMP[8].value = valuesTMP[8].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 2 && dataTMP[key].final_Difficulty > 1.5) {
            valuesTMP[9].value = valuesTMP[9].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 2.5 && dataTMP[key].final_Difficulty > 2) {
            valuesTMP[10].value = valuesTMP[10].value + 1;
          } 
          if(dataTMP[key].final_Difficulty <= 3 && dataTMP[key].final_Difficulty > 2.5) {
            valuesTMP[11].value = valuesTMP[11].value + 1;
          }
            });
            this.values = valuesTMP;
            })                
          });
      }.bind(this), 10000);
    },

    //reutrn to previous component
    nextPage() {
      if(this.lastPage == "group") {
        this.$parent.liveResultItemCreation();
      } else {
        this.$parent.liveResultArchive();
      }
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>