<template>
<!--
Shows the login for the account system.
The user can login to existing account, create a new account or reset the password of an existing account.
When the user wants to create an account or reset the password the display elements are changed.
-->
  <div class="experience hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--email input-->
    <v-text-field v-on:keyup="checkInput" v-model="username" class="textArea" :label = inputs.email></v-text-field>
    <v-spacer></v-spacer>
    <!--password input-->
    <v-text-field
      v-if="showLogin"
      v-on:keyup="checkInput"
      v-model="password"
      :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
      :type="show1 ? 'text' : 'password'"
      class="textArea"
      :label = inputs.password
      @click:append="show1 = !show1"
    ></v-text-field>
    <!--login with account data-->
    <v-btn v-if="showLogin" id="nextButton" @click="nextPage">{{content.login}}</v-btn>
    <!--send email when creating new account or reset password-->
    <v-btn v-if="!showLogin" id="nextButton" @click="sendReset">{{content.sendMail}}</v-btn>
    <v-spacer></v-spacer>
    <!--open password reset dialog-->
    <v-btn v-if="showLogin" id="loginButton" @click="resetPassword">{{content.lostPassword}}</v-btn>
    <v-spacer></v-spacer>
    <!--open create new account dialog-->
    <v-btn v-if="showLogin" id="loginButton" @click="createUser">{{content.createAccount}}</v-btn>
    <v-spacer></v-spacer>
    <!--return to homepage-->
    <v-btn v-if="showLogin" id="nextButton" @click="homepage">{{button.returnHomepage}}</v-btn>
    <!--return to base login-->
    <v-btn v-if="!showLogin" id="nextButton" @click="resetPassword">{{button.return}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import used packages
import bcrypt from "bcryptjs";
import axios from "axios";
import validator from "email-validator";
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

//api URLs
const getAccount = "accounts/";
const resetPw = "emailReset/";

export default {
  name: "app",
  props: {
    url: String,
    language: String
  },
  data() {
    return {
      head: [],
      content: [],
      inputs: [],
      messages: [],
      button: [],
      showLogin: true,
      show1: false,
      status: [],
      snackbar: false,
      snackTxt: "",
      username: "",
      password: "",
      hashPw: "empty",
      userLogin: {
        user: "empty",
        pw: "empty"
      }
    };
  },

  //set data to display
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.login.head;
        this.content = res.elements.login.content;
        this.inputs = res.elements.login.inputs;
        this.messages = res.elements.login.messages;
        this.button = res.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.login.head;
        this.content = resEng.elements.login.content;
        this.inputs = resEng.elements.login.inputs;
        this.messages = resEng.elements.login.messages;
        this.button = resEng.buttons;
      }
      
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    //show reset password dialog
    resetPassword() {
      this.showLogin = !this.showLogin;
    },

    //send email to reset password, sends request to server, server sends email
    sendReset() {
      if (validator.validate(this.username) == true) {
        axios.post(this.url + resetPw + this.username + "/" + this.language).then(response => {
          var status = response.data;
          if (status == "Email Sent") {
            this.snackTxt = this.messages.emailSend;
            this.snackbar = true;
          } else {
            this.snackTxt = this.messages.emailNotSend;
            this.snackbar = true;
          }
        });
      } else {
        this.snackTxt = this.messages.accountData;
        this.snackbar = true;
      }
    },

    //when user presses enter call confirmation function
    checkInput: function(e) {
      if (e.keyCode == 13) {
        if(this.showLogin) {
          this.nextPage();
        } else {
          this.sendReset();
        }
      }
    },

    //when user has input data check account data. If the user exists show adminpage component
    nextPage() {
      //validate input data
      if (validator.validate(this.username) == true && this.password != "") {
        var salt = bcrypt.genSaltSync(10);
        var hash = bcrypt.hashSync(this.password, salt);

        this.$set(this.userLogin, "user", this.username);
        this.$set(this.userLogin, "pw", hash);
        
        //send login data to server
        axios
          .post(this.url + getAccount + this.username, this.userLogin)
          .then(response => {
            this.status = response.data;
            //if succes status is send back show adminpage
            if (this.status.data != "false") {
              this.$store.commit("setOwnderID", this.status.data[0]);
              this.$store.commit("setPermission", this.status.data[1]);
              this.$store.commit("setToken", this.status.result);

              this.$parent.adminArea();
            //if data incorrect show error
            } else {
              this.snackTxt = this.messages.badAccountData;
              this.snackbar = true;
            }
          });
      } else {
        this.snackTxt = this.messages.accountData;
        this.snackbar = true;
      }
    },

    //show create user component
    createUser() {
      this.$parent.createAccount();
    },

    //return to homepage component
    homepage() {
      this.$parent.login();
    }
  }
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>