<template>
  <!--
This component is used by administrators to read data from the database.
The accounts, (not) validated items and answers to all items can be displayed.
Also the administrator can validate not validated items by assigning a difficulty.
  -->
  <div class="experience hello" data-app>
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title">{{head.head}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <!--overflow button to select function-->
    <v-overflow-btn class="overflowCreation" :items="data" :label="content.data" v-model="type"></v-overflow-btn>
    <!--overflow button to select item-->
    <v-overflow-btn
      v-if="showItems"
      class="overflowCreation"
      :items="itemIDs"
      :label="content.items"
      v-model="selectedItem"
      :key="itemsKey"
    ></v-overflow-btn>
    <!--table used to display accounts-->
    <v-container v-if="showAccounts" class="readDatabaseGrid">
      <v-row v-for="(n, index) in displayAccounts" :key="n" no-gutters class="archiveRow">
        <v-col cols="12" sm="3">
          <v-card class="archiveCard-start" :key="n">{{n.username}}</v-card>
        </v-col>
        <v-col cols="12" sm="3">
          <v-card class="archiveCard" :key="n">{{n.permission}}</v-card>
        </v-col>
        <v-col cols="12" sm="3">
          <v-btn id="readDatabaseButton" @click="changePermission(index)">{{content.permission}}</v-btn>
        </v-col>
        <v-col cols="12" sm="3">
          <v-btn id="readDatabaseButtonFinal" @click="deleteUser(index)">{{content.remove}}</v-btn>
        </v-col>
      </v-row>
    </v-container>
    <!--display used tho show item-->
    <v-container>
      <v-card v-if="showQuestion" class="qst" outlined>
        <v-spacer></v-spacer>
        {{question}}
        <v-spacer></v-spacer>
      </v-card>
      <v-row class="vrow" v-if="showTargets">
        <v-col cols="12" sm="6" offset-sm="3">
          <v-container fluid>
            <v-row class="rowAnsw">
              <v-col
                v-for="(n, index) in targetIcons"
                :key="n"
                class="d-flex child-flex"
                :cols="columns"
              >
                <v-card flat tile outlined class="d-flex">
                  <v-img
                    v-if="showImage"
                    id="symbolTarget"
                    :src="getImg(index)"
                    aspect-ratio="1"
                    contain
                    class="grey lighten-2"
                  >
                    <template v-slot:placeholder>
                      <v-row class="fill-height ma-0" align="center" justify="center">
                        <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                  <p id="textAnsw" v-if="showText" :key="n">{{n}}</p>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
    <!--button to show next page in accounts-->
    <v-btn v-if="showAccounts" id="archivePageButtonLeft" @click="elementsBackward">
      <v-icon dark v-on="on">mdi-arrow-left</v-icon>
    </v-btn>
    <span v-if="showAccounts">{{start}} - {{end}}</span>
    <v-btn v-if="showAccounts" id="archivePageButtonRight" @click="elementsForward">
      <v-icon dark v-on="on">mdi-arrow-right</v-icon>
    </v-btn>
    <v-spacer></v-spacer>
    <!--download data of selected gruop-->
    <vue-json-to-csv v-if="showDownload" :json-data="downloadData" csv-title="Data">
      <v-btn id="adminButton">{{content.download}}</v-btn>
    </vue-json-to-csv>
    <br />

    <!--item validation requires difficulty of new item-->
    <v-text-field
      v-model="itemDifficulty"
      v-if="showItemValidation"
      :label="content.difficulty"
      :hint="content.difficultyHint"
      :rules="rulesDifficulty"
      class="inputItemDifficulty"
    ></v-text-field>
    <br />
    <v-btn v-if="showItemValidation" id="backButton" @click="validateItem">{{content.validate}}</v-btn>
    <v-spacer></v-spacer>
    <v-btn id="adminButton" @click="nextPage">{{buttons.returnAdmin}}</v-btn>

    <v-snackbar id="snack" v-model="snackbar" :timeout="2000">{{snackTxt}}</v-snackbar>
  </div>
</template>

<script>
//import data and used packages
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import VueJsonToCsv from "vue-json-to-csv";
import axios from "axios";

//api URLs
const baseURL1 = "accounts";
const baseURL2 = "newItems";
const baseURL3 = "newItemsAnswers";
const baseURL4 = "accountsPermission/";
const baseURL5 = "items";
const baseURL6 = "groupLinks";
const baseURL7 = "items";
const baseURL8 = "itemsAnswers";
const baseURL9 = "itemDifficulties";
const baseURL10 = "breakValues";

export default {
  name: "app",
  props: {
    url: String,
    language: String,
  },
  data() {
    return {
      showAccounts: false,
      snackbar: false,
      snackTxt: "",
      head: [],
      content: [],
      messages: [],
      buttons: [],
      type: null,
      data: [
        "Accounts",
        "validierte Items",
        "validierte Items Antworten",
        "nicht validierte Items",
        "nicht validierte Items Antworten",
        "Item validieren",
      ],
      accounts: [],
      displayAccounts: [],
      items: [],
      newItems: [],
      itemsAnswers: [],
      newItemsAnswers: [],
      showDownload: false,
      downloadData: [],
      start: 1,
      end: 6,
      page: 0,
      showImage: false,
      showText: false,
      showItems: false,
      showTargets: false,
      targetIcons: [],
      groupIcons: [],
      selectedItem: [],
      itemIDs: [],
      question: "",
      showQuestion: false,
      columns: 0,
      itemDifficulty: "",
      itemInformation: "",
      showItemValidation: false,
      rulesDifficulty: [(value) => !!value || this.messages.required],
      itemsKey: 0,
      itemDifficulties: [],
      difficulties: [],
      shortestDistance: [],
      index: [],
      lastLayer: 0,
      difArray: [],
      outingArray: [],
      nodeStep: 0,
      finalDifficulties: [],
      tmp: "",
    };
  },

  components: {
    VueJsonToCsv,
  },

  watch: {
    //change display of items depending on selected data in overflow button
    type: function (val) {
      //download available for all elements except item validation
      if (val == this.data[5]) {
        this.showDownload = false;
        this.showItemValidation = true;
      } else {
        this.showDownload = true;
        this.showItemValidation = false;
      }

      //show accounts
      if (val == this.data[0]) {
        var acc = this.accounts;
        var msg = this.messages;

        //set permission level as strings
        Object.keys(acc).map(function (key) {
          //loop through array of brake values with iterator key
          if (acc[key].permission == 0) {
            acc[key].permission = msg.permission0;
          } else if (acc[key].permission == 1) {
            acc[key].permission = msg.permission1;
          } else {
            acc[key].permission = msg.permission2;
          }
        });

        this.showAccounts = true;
        this.downloadData = this.accounts;

        this.showItems = false;
        this.showTargets = false;

        this.displayAccounts = this.accounts.slice(0, 6);
        //show validated items
      } else if (val == this.data[1]) {
        var items = this.items;
        var itemIDs = [];

        Object.keys(items).map(function (key) {
          itemIDs.push(items[key].itemID);
        });
        this.itemIDs = itemIDs;

        this.selectedItem = [];
        this.showItems = true;
        this.showTargets = true;

        this.showAccounts = false;
        this.downloadData = this.items;
        //show answers to items, data can only be downloaded
      } else if (val == this.data[2]) {
        this.showItems = false;
        this.showTargets = false;
        this.showQuestion = false;

        this.showAccounts = false;
        this.downloadData = this.itemsAnswers;
        //show not validated items
      } else if (val == this.data[3]) {
        var newItems = this.newItems;
        var newItemIDs = [];

        Object.keys(newItems).map(function (key) {
          newItemIDs.push(newItems[key].id);
        });
        this.itemIDs = newItemIDs;

        this.selectedItem = [];
        this.showItems = true;
        this.showTargets = true;
        this.showQuestion = false;

        this.showAccounts = false;
        this.downloadData = this.newItems;
        //show ansers to not validated items, data can only be downloaded
      } else if (val == this.data[4]) {
        this.showItems = false;
        this.showTargets = false;
        this.showQuestion = false;

        this.showAccounts = false;
        this.downloadData = this.newItemsAnswers;
        //show item validation
      } else if (val == this.data[5]) {
        newItems = this.newItems;
        newItemIDs = [];

        Object.keys(newItems).map(function (key) {
          newItemIDs.push(newItems[key].id);
        });
        newItemIDs.sort((a, b) => a - b);
        this.itemIDs = newItemIDs;

        this.showItems = true;
        this.showTargets = false;
        this.showQuestion = false;

        this.showAccounts = false;
        this.downloadData = this.newItemsAnswers;
      }
    },

    //show selected item, displayed item
    selectedItem: function (val) {
      var items = this.items;
      var newItems = this.newItems;
      var groupIcons = this.groupIcons;
      var targetItem = [];
      var group = "";
      var question = "";
      var showQuestion = false;
      var isImage = "";
      var columns = 0;
      var type = this.type;
      var data = this.data;

      //load all existing items to overflow button array
      Object.keys(items).map(function (key) {
        //loop through array of brake values with iterator key
        if (items[key].itemID == val) {
          if (type != data[5]) {
            showQuestion = true;
          }
          question = items[key].question;
          group = items[key].groupID;

          //check for item target type and load fitting display
          if (items[key].symbol == 1) {
            isImage = true;
            columns = 3;
          } else {
            isImage = false;
            columns = 7;
          }

          //load targets to disply target array
          Object.keys(groupIcons).map(function (key) {
            //loop through array of brake values with iterator key
            if (groupIcons[key].groupID == group) {
              if (isImage == true) {
                targetItem[0] = groupIcons[key].target0;
                targetItem[1] = groupIcons[key].target1;
                targetItem[2] = groupIcons[key].target2;
                targetItem[3] = groupIcons[key].target3;
                targetItem[4] = groupIcons[key].target4;
                targetItem[5] = groupIcons[key].target5;
                targetItem[6] = groupIcons[key].target6;
                targetItem[7] = groupIcons[key].target7;
              } else {
                targetItem[0] = groupIcons[key].target0;
                targetItem[1] = groupIcons[key].target1;
                targetItem[2] = groupIcons[key].target2;
                targetItem[3] = groupIcons[key].target3;
                targetItem[4] = groupIcons[key].target4;
                targetItem[5] = groupIcons[key].target5;
              }
            }
          });
        }
      });

      Object.keys(newItems).map(function (key) {
        //loop through array of brake values with iterator key
        if (newItems[key].id == val) {
          if (type != data[5]) {
            showQuestion = true;
          }
          question = newItems[key].question;
          group = newItems[key].groupID;

          if (newItems[key].symbol == 1) {
            isImage = true;
            columns = 3;
          } else {
            isImage = false;
            columns = 7;
          }

          Object.keys(groupIcons).map(function (key) {
            //loop through array of brake values with iterator key
            if (groupIcons[key].groupID == group) {
              if (isImage == true) {
                targetItem[0] = groupIcons[key].target0;
                targetItem[1] = groupIcons[key].target1;
                targetItem[2] = groupIcons[key].target2;
                targetItem[3] = groupIcons[key].target3;
                targetItem[4] = groupIcons[key].target4;
                targetItem[5] = groupIcons[key].target5;
                targetItem[6] = groupIcons[key].target6;
                targetItem[7] = groupIcons[key].target7;
              } else {
                targetItem[0] = groupIcons[key].target0;
                targetItem[1] = groupIcons[key].target1;
                targetItem[2] = groupIcons[key].target2;
                targetItem[3] = groupIcons[key].target3;
                targetItem[4] = groupIcons[key].target4;
                targetItem[5] = groupIcons[key].target5;
              }
            }
          });
        }
      });
      //show image display when isImage is true, data comes from item
      if (isImage == true) {
        this.showImage = true;
        this.showText = false;
      } else {
        this.showImage = false;
        this.showText = true;
      }

      //this.tmp = tmp
      this.columns = columns;
      this.showQuestion = showQuestion;
      this.question = question;
      this.targetIcons = targetItem;
    },
  },

  /*
  Get all data to be displayed in interface.
  Accounts only send username and permission level, not password.
  Maps all integer parameters to string data for better display
  */
  async created() {
    try {
      if (this.language == "GER") {
        this.head = res.elements.readDatabase.head;
        this.content = res.elements.readDatabase.content;
        this.messages = res.elements.readDatabase.messages;
        this.buttons = res.buttons;
      } else if (this.language == "ENG") {
        this.head = resEng.elements.readDatabase.head;
        this.content = resEng.elements.readDatabase.content;
        this.messages = resEng.elements.readDatabase.messages;
        this.buttons = resEng.buttons;
      }

      //get all data from database
      const res1 = await axios.get(
        this.url +
          baseURL1 +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );
      this.tmp = 5;
      const res2 = await axios.get(this.url + baseURL2);
      this.tmp = 8;
      const res3 = await axios.get(
        this.url +
          baseURL3 +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );
      this.tmp = 7;
      const res4 = await axios.get(this.url + baseURL5);
      this.tmp = 6;
      const res6 = await axios.get(this.url + baseURL6);
      this.tmp = 2;
      const res7 = await axios.get(
        this.url +
          baseURL8 +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );
      const res8 = await axios.get(this.url + baseURL9);
      this.tmp = 0;
      this.accounts = res1.data.user;
      this.items = res4.data.item;
      this.newItems = res2.data.item;
      this.newItemsAnswers = res3.data.item;
      this.itemsAnswers = res7.data.item;
      this.groupIcons = res6.data.groups;
      this.itemDifficulties = res8.data.item;
    } catch (e) {
      ("no data available");
    }
  },

  methods: {
    /*
    Function used to generate new answer tree depending on items.
    Uses recursion to loop through all layers of tree, second recursion function to fill nodes of tree.
    Always searches for the most fitting item available to tree nodes.
    */
    buildTree() {
      //item json data to array
      this.itemDifficulties = this.itemDifficulties.map(function (obj) {
        return obj.difficulty;
      });

      //sort data by rising difficulty
      this.itemDifficulties.sort((a, b) => a - b);

      //create first tree node with difficulty of 0
      var i;
      for (i = 0; i < this.itemDifficulties.length; i++) {
        this.difficulties.push({
          difficulty: this.itemDifficulties[i],
          level: 0,
          layer: 0,
        });
      }

      this.shortestDistance = 100;
      //get shortest distance item to first node
      for (i = 0; i < this.itemDifficulties.length; i++) {
        var distance = this.itemDifficulties[i];
        if (Math.abs(distance) < this.shortestDistance) {
          this.shortestDistance = Math.abs(distance);
          this.index = i;
        }
      }

      //generate difficulty of next layer nodes
      for (i = 0; i < this.difficulties.length; i++) {
        if (i < this.index) {
          this.difficulties[i].level =
            -1.5 / Math.pow(2, this.difficulties[i].layer);
          this.difficulties[i].layer += 1;
        } else if (i > this.index) {
          this.difficulties[i].level =
            1.5 / Math.pow(2, this.difficulties[i].layer);
          this.difficulties[i].layer += 1;
        }
      }

      this.lastLayer = 0;

      //call recursion to fill tree nodes and next layers
      this.recursion();
    },

    /*
    Searches for the most fitting next item and adds it to the tree.
    Used items are no longer available in the item pool.
    After picking item generate next layer.
    */
    recursion() {
      var lastDif = 100;
      var lastDifArray = [];
      var switchBinary = false;
      var i;
      //generate next layer
      for (i = 0; i < this.difficulties.length; i++) {
        if (
          this.difficulties[i].level != lastDif &&
          this.difficulties[i].layer == this.lastLayer &&
          this.difficulties[i].level != 4
        ) {
          lastDif = this.difficulties[i].level;
          lastDifArray.push(this.difficulties[i].level * -1);
          lastDifArray.push(this.difficulties[i].level);
        }
      }
      lastDifArray.sort((a, b) => a - b);

      //generate next tree layer
      var modifier = 1.5 / Math.pow(2, this.lastLayer);
      this.difArray = [];

      //add new layers to next layer
      for (i = 0; i < lastDifArray.length * 2; i++) {
        if (switchBinary == false) {
          switchBinary = true;
          this.difArray.push(lastDifArray[Math.floor(i / 2)] - modifier);
        } else {
          switchBinary = false;
          this.difArray.push(lastDifArray[Math.floor(i / 2)] + modifier);
        }
      }

      //reset amount of steps in tree for recursion
      this.nodeStep = 0;
      var counter = 0;

      //count remaining items with lower difficulty then actual node difficulty
      for (i = 0; i < this.difficulties.length; i++) {
        if (this.difficulties[i].layer < this.lastLayer) {
          counter++;
        }
      }
      //add items to node with loop recursion function
      if (counter + 1 < this.difficulties.length) {
        this.loop();
      } else {
        var levels = [];

        for (i = 0; i < this.difficulties.length; i++) {
          levels.push(this.difficulties[i].level);
        }

        var left = 0;
        var right = 0;

        //check for remaining items, if no items remaining exit recursion
        for (i = 0; i < this.difficulties.length; i++) {
          left =
            this.difficulties[i].level -
            1.5 / Math.pow(2, this.difficulties[i].layer);
          if (!levels.includes(left)) {
            this.finalDifficulties.push(left);
            axios.post(
              this.url +
                baseURL10 +
                "/" +
                this.$store.state.userID +
                "/" +
                this.$store.state.token,
              { breakValue: left }
            );
          }
          right =
            this.difficulties[i].level +
            1.5 / Math.pow(2, this.difficulties[i].layer);
          if (!levels.includes(right)) {
            this.finalDifficulties.push(right);
            axios.post(
              this.url +
                baseURL10 +
                "/" +
                this.$store.state.userID +
                "/" +
                this.$store.state.token,
              { breakValue: right }
            );
          }
        }
      }
    },

    /*
    This function splits the array of remaining items fitting to the nodes.
    Every items gets a corresponding node and level of depth in the tree.
    */
    loop() {
      var i;
      //iterate through items and select most fitting item for node
      for (i = 0; i < this.difficulties.length; i++) {
        if (
          this.difficulties[i].difficulty < this.difArray[this.nodeStep] &&
          this.difficulties[i].layer - 1 == this.lastLayer
        ) {
          this.difficulties[i].level = this.difArray[this.nodeStep];
          this.difficulties[i].layer += 1;
          this.outingArray.push(i);
        } else if (
          this.difficulties[i].difficulty > this.difArray[this.nodeStep] &&
          this.nodeStep + 1 == this.difArray.length &&
          this.difficulties[i].layer - 1 == this.lastLayer
        ) {
          this.difficulties[i].level = 4;
          this.difficulties[i].layer += 1;
          this.outingArray.push(i);
        }
      }

      //check for remaning nodes, if all nodes filled exit recursion
      this.nodeStep += 1;
      if (this.nodeStep < this.difArray.length) {
        this.loop();
        //if not complete check for double items and clear, when finished enter recursion again
      } else {
        var j = 0;
        for (j = 0; j < this.difArray.length; j++) {
          this.shortestDistance = 100;
          for (i = 0; i < this.difficulties.length; i++) {
            if (this.outingArray.includes(i)) {
              var distance = this.difficulties[i].difficulty - this.difArray[j];
              if (Math.abs(distance) < this.shortestDistance) {
                this.shortestDistance = Math.abs(distance);
                this.index = i;
              }
            }
          }
          this.difficulties[this.index].layer = this.lastLayer + 1;
          this.difficulties[this.index].level = this.difArray[j];
        }
        this.outingArray = [];
        this.lastLayer++;
        this.tmp = this.difficulties;
        this.recursion();
      }
    },

    /*
    Sends request do database to remove the item from the table of not validated items.
    Adds item to table of validated items with difficulty and updates table of final difficulty values.
    */
    validateItem() {
      var newItems = this.newItems;
      var selectedItem = this.selectedItem;
      var valItem = "";
      var i = 0;

      Object.keys(newItems).map(function (key) {
        //loop through array of brake values with iterator key
        if (newItems[key].id == selectedItem) {
          valItem = newItems[key];
          i = key;
        }
      });
      //post item to database
      axios.post(
        this.url +
          baseURL7 +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token,
        {
          itemID: valItem.id,
          difficulty: this.itemDifficulty,
          question: valItem.question,
          target: valItem.target,
          groupID: valItem.groupID,
          symbol: valItem.symbol,
        }
      );
      //delete item from not validated items table
      axios.delete(
        this.url +
          baseURL2 +
          "/" +
          this.selectedItem +
          "/" +
          this.$store.state.userID +
          "/" +
          this.$store.state.token
      );

      //clear all old break values from database
      axios.delete(this.url + baseURL10 + "/" + this.$store.state.userID + "/" + this.$store.state.token)

      //build and upload new break values
      this.buildTree()

      this.selectedItem = "";
      this.newItems.splice(i, 1);
      this.itemIDs.splice(i, 1);
      this.itemsKey += 1;

      this.snackTxt = this.messages.validated;
      this.snackbar = true;
    },

    //show image in interface, selects between png and base64 image
    getImg(index) {
      if (this.targetIcons[0].includes("base64")) {
        return this.targetIcons[index];
      } else {
        var images = require.context("../data/images/", false, /\.png$/); //build standard import string
        return images("./" + this.targetIcons[index] + ".png"); //add image name from parameter to import string, return full import string
      }
    },

    //show next six elements of accounts in account table
    elementsForward() {
      if (this.end + 6 <= this.accounts.length) {
        this.start += 6;
        this.end += 6;
        this.page += 1;

        this.displayAccounts = this.accounts.slice(this.start - 1, this.end);
      } else if (this.end < this.groups.length) {
        this.start = this.end + 1;
        this.end = this.groups.length;
        this.page += 1;

        this.displayAccounts = this.accounts.slice(this.start - 1, this.end);
      }
    },

    //show previous six elements of accounts in account table
    elementsBackward() {
      if (this.start - 6 >= 1 && this.end - 6 >= 6) {
        this.start -= 6;
        this.end = this.start + 5;
        this.page -= 1;

        this.displayAccounts = this.accounts.slice(this.start - 1, this.end);
      } else if (this.start > 1) {
        this.start = 1;
        this.end = 6;
        this.page -= 1;

        this.displayAccounts = this.accounts.slice(this.start - 1, this.end);
      }
    },

    //change permission level of account between test creator and administrator
    changePermission(index) {
      if (
        this.accounts[index + this.page * 6].permission ==
        this.messages.permission1
      ) {
        this.accounts[
          index + this.page * 6
        ].permission = this.messages.permission2;
        axios.patch(
          this.url +
            baseURL4 +
            this.accounts[index + this.page * 6].id +
            "/2" +
            "/" +
            this.$store.state.userID +
            "/" +
            this.$store.state.token
        );
      } else {
        this.accounts[
          index + this.page * 6
        ].permission = this.messages.permission1;
        axios.patch(
          this.url +
            baseURL4 +
            this.accounts[index + this.page * 6].id +
            "/1" +
            "/" +
            this.$store.state.userID +
            "/" +
            this.$store.state.token
        );
      }
    },

    //delete user from database
    deleteUser(index) {
      axios.delete(
        this.url + baseURL1 + "/" + this.accounts[index + this.page * 6].id + "/" + this.$store.state.userID + "/" + this.$store.state.token
      );
      this.accounts.splice(index + this.page * 6, 1);
      this.displayAccounts.splice(index, 1);
    },

    //return to adminpage component
    nextPage() {
      this.$parent.readDatabase();
    },
  },
};
</script>

<style scoped>
ul {
  list-style-type: none;
  padding: 0;
}
</style>