<template>
<!--
This component shows the results of the test.
Depending on the test settings the feedback can be different.
Basic feedback is comparison value, no feedback or short text are also possible.
-->
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <p class="text-instruction" v-for="(element) in contentTop" :key="element">{{element}}</p>
    <!--show time used to complete test-->
    <p
      class="text-instruction">{{contentTime.content0}}{{ usedTime }}{{contentTime.content1}}</p>
    <v-container v-if="showComparison" style="max-width: 100vw; text-align=center;">
    <!--show skill comparison-->
      <p
        class="text-instruction">{{contentComparison.content0}}{{skillComparison}}%{{contentComparison.content1}}</p>
    </v-container>
    <!--show skill short text-->
    <span v-if="showText">
      {{contentText}}
    </span>
    <p class="text-instruction" v-for="(element) in contentBot" :key="element">{{element}}</p>

    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="100" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
//import data to display
import res from "../data/db.json";
import resEng from "../data/dbEng.json";

export default {
  name: "app",
  props: {
    usedTime: String,
    language: String,
    skillComparison: String,
    feedback: String,
    skillText: Number
  },
  data() {
    return {
      head: [],
      contentTop: [],
      contentTime: [],
      contentComparison: [],
      contentText: [],
      contentBot: [],
      showComparison: true,
      showText: false,
      elementName: ""
    };
  },

  //disable site refresh warning and load elements for interface
  async created() {
    window.onbeforeunload = function() {
    };
    //load interface elements
    try {
      if (this.language == "GER") {
        this.head = res.elements.results.head;
        this.contentTop = res.elements.results.contentTop;
        this.contentTime = res.elements.results.contentTime;
        this.contentComparison = res.elements.results.contentComparison;
        this.contentBot = res.elements.results.contentBot;
        this.contentText = res.elements.results.contentText
      } else if (this.language == "ENG") {
        this.head = resEng.elements.results.head;
        this.contentTop = resEng.elements.results.contentTop;
        this.contentTime = resEng.elements.results.contentTime;
        this.contentComparison = resEng.elements.results.contentComparison;
        this.contentBot = resEng.elements.results.contentBot;
        this.contentText = resEng.elements.results.contentText
      }      
    } catch (e) {
      ("no data available");
    }
    
    if(this.skillComparison == "NaN") {
      this.showComparison = false;
    }

    //show selected type of feedback
    if (this.feedback == "1" && this.skillComparison != "Nan") {
      this.showComparison = true;
    } else if(this.feedback == "2") {
      this.showText = true;
      this.contentText = this.contentText[this.skillText];
    } else if(this.feedback == "3" && this.skillComparison != "Nan") {
      this.showComparison = true;
      this.showText = true;
      
      this.contentText = Object.values(this.contentText);      
      this.contentText = this.contentText[this.skillText];
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}

p {
  margin-bottom: 5vh;
}

img {
  margin-top: 5vh;
}
</style>
