<template>
<!--Show slider to select amount of usage of different application types.-->
  <div class="hello">
    <v-toolbar id="header">
      <v-spacer></v-spacer>
      <v-toolbar-title id="header-title" v-for="element of head" :key="element">{{element}}</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-app>
      <ul class="slider-bg">
        <li class="text-instruction" v-for="element of content" :key="element">{{element}}</li>
        <br />
        <!--example slider (not not interactive)-->
        <p class="text-info">{{example}}</p>

        <!--one Slider for each question 
          slider has 5 slots/ ticks and labels 
          it is always just one label visible (form the current selection)
          Slider starts on the left by "keine Angabe" (value=0)
          label ist updated when slider is draged on another tick
          id is needed for nextPage() function
        -->
        <video :src="video" :width="resize" autoplay loop></video>
        <li class="text-info" v-for="element of usecase0" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueTextverarbeitung"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks1"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase1" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueTabellenkalkulation"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks2"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase2" :key="element">{{element}}</li>
        <vue-slider
          v-model="valuePräsentationserstellung"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks3"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase3" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueBildbearbeitung"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks4"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase4" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueProgrammieren"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks5"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase5" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueComputerspielen"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks6"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase6" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueEmail"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks7"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase7" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueInternetSurfen"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks8"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase8" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueInformationssuche"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks9"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase9" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueOnlineShopping"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks10"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
        <li class="text-info" v-for="element of usecase10" :key="element">{{element}}</li>
        <vue-slider
          v-model="valueOnlineBanking"
          v-bind="options"
          id="slider-input"
          :tooltip="'none'"
          :marks="marks11"
        >
          <template v-slot:step="{ active }">
            <div :class="['cMarks', { active }]"></div>
          </template>
        </vue-slider>
      </ul>
    </v-app>
    <!-- Button to get to the next page  -->
    <v-btn id="nextButton" @click="nextPage">{{button}}</v-btn>
    <!--contains the progress bar
    gives the user a visual update how much of the test is already done
    -->
    <v-footer fixed class="font-weight-medium footer">
      <v-progress-linear class="progress" value="33.3" color="#004B5A"></v-progress-linear>
    </v-footer>
  </div>
</template>

<script>
//import used data and packages, also imports mp4 file to show animiation
import res from "../data/db.json";
import resEng from "../data/dbEng.json";
import VueSlider from "vue-slider-component";
import "vue-slider-component/theme/default.css";
import mp4 from "../assets/Preview.mp4";
import mp4Eng from "../assets/PreviewEng.mp4";

export default {
  name: "app",
  props: {
    language: String
  },
  components: {
    VueSlider
  },  
  data() {
    return {
      intensity: [],
      example: [],
      button: [],
      video: [],
      resize: "60%",
      valueTextverarbeitung: 0,
      valueTabellenkalkulation: 0,
      valuePräsentationserstellung: 0,
      valueBildbearbeitung: 0,
      valueProgrammieren: 0,
      valueComputerspielen: 0,
      valueEmail: 0,
      valueInternetSurfen: 0,
      valueInformationssuche: 0,
      valueOnlineShopping: 0,
      valueOnlineBanking: 0,
      marks1: [],
      marks2: [],
      marks3: [],
      marks4: [],
      marks5: [],
      marks6: [],
      marks7: [],
      marks8: [],
      marks9: [],
      marks10: [],
      marks11: [],
      bg2: { label: "slider-color", val: 0, color: "#FF6600" },
      head: [],
      content: [],
      usecase0: [],
      usecase1: [],
      usecase2: [],
      usecase3: [],
      usecase4: [],
      usecase5: [],
      usecase6: [],
      usecase7: [],
      usecase8: [],
      usecase9: [],
      usecase10: [],
      elementName: "",
      options: {
        dotSize: 24,
        min: 0,
        max: 4,
        marks: true
      }
    };
  },

  watch: {
    /*
    When the value of a slider is changed update the displayed information of the slider.
    Every slider only shows the value of the actual position as the space on smaller display is limited.
    The sliders cant be represented through arrays as the used component is not designed for such a use.
    */
    valueTextverarbeitung: function(val) {
      if (val == 0) {
        this.marks1 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks1 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks1 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks1 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks1 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueTabellenkalkulation: function(val) {
      if (val == 0) {
        this.marks2 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks2 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks2 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks2 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks2 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valuePräsentationserstellung: function(val) {
      if (val == 0) {
        this.marks3 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks3 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks3 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks3 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks3 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueBildbearbeitung: function(val) {
      if (val == 0) {
        this.marks4 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks4 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks4 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks4 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks4 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueProgrammieren: function(val) {
      if (val == 0) {
        this.marks5 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks5 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks5 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks5 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks5 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueComputerspielen: function(val) {
      if (val == 0) {
        this.marks6 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks6 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks6 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks6 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks6 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueEmail: function(val) {
      if (val == 0) {
        this.marks7 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks7 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks7 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks7 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks7 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueInternetSurfen: function(val) {
      if (val == 0) {
        this.marks8 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks8 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks8 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks8 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks8 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueInformationssuche: function(val) {
      if (val == 0) {
        this.marks9 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks9 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks9 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks9 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks9 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueOnlineShopping: function(val) {
      if (val == 0) {
        this.marks10 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks10 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks10 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks10 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks10 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    },
    valueOnlineBanking: function(val) {
      if (val == 0) {
        this.marks10 = {
          "0": this.intensity.unspecified,
          "1": "",
          "2": "",
          "3": "",
          "4": ""
        };
      } else if (val == 1) {
        this.marks11 = { "0": "", "1": this.intensity.never, "2": "", "3": "", "4": "" };
      } else if (val == 2) {
        this.marks11 = { "0": "", "1": "", "2": this.intensity.rarely, "3": "", "4": "" };
      } else if (val == 3) {
        this.marks11 = {
          "0": "",
          "1": "",
          "2": "",
          "3": this.intensity.occasioanlly,
          "4": ""
        };
      } else if (val == 4) {
        this.marks11 = { "0": "", "1": "", "2": "", "3": "", "4": this.intensity.often };
      }
    }
  },

  //when the slider is created load the name of the individual slideres from file
  async created() {
    try {
      if (this.language == "GER") {
        this.video = mp4;
        this.head = res.elements.usecases.head;
        this.content = res.elements.usecases.content;
        this.example = res.elements.usecases.example.example;
        this.intensity = res.elements.usecases.intensity;
        this.usecase0 = res.elements.usecases.usecases.case0;
        this.usecase1 = res.elements.usecases.usecases.case1;
        this.usecase2 = res.elements.usecases.usecases.case2;
        this.usecase3 = res.elements.usecases.usecases.case3;
        this.usecase4 = res.elements.usecases.usecases.case4;
        this.usecase5 = res.elements.usecases.usecases.case5;
        this.usecase6 = res.elements.usecases.usecases.case6;
        this.usecase7 = res.elements.usecases.usecases.case7;
        this.usecase8 = res.elements.usecases.usecases.case8;
        this.usecase9 = res.elements.usecases.usecases.case9;
        this.usecase10 = res.elements.usecases.usecases.case10;
        this.button = res.buttons.next;
      } else if (this.language == "ENG") {
        this.video = mp4Eng;
        this.head = resEng.elements.usecases.head;
        this.content = resEng.elements.usecases.content;
        this.example = resEng.elements.usecases.example.example;
        this.intensity = resEng.elements.usecases.intensity;
        this.usecase0 = resEng.elements.usecases.usecases.case0;
        this.usecase1 = resEng.elements.usecases.usecases.case1;
        this.usecase2 = resEng.elements.usecases.usecases.case2;
        this.usecase3 = resEng.elements.usecases.usecases.case3;
        this.usecase4 = resEng.elements.usecases.usecases.case4;
        this.usecase5 = resEng.elements.usecases.usecases.case5;
        this.usecase6 = resEng.elements.usecases.usecases.case6;
        this.usecase7 = resEng.elements.usecases.usecases.case7;
        this.usecase8 = resEng.elements.usecases.usecases.case8;
        this.usecase9 = resEng.elements.usecases.usecases.case9;
        this.usecase10 = resEng.elements.usecases.usecases.case10;
        this.button = resEng.buttons.next;
      }
      this.marks1 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks2 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks3 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks4 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks5 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks6 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks7 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks8 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks9 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks10 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" },
      this.marks11 = { "0": this.intensity.unspecified, "1": "", "2": "", "3": "", "4": "" }
    } catch (e) {
      ("no data available");
    }
    var size = window.innerWidth;
    if(size < 800) {
      this.resize = "100%";
    }
  },

  methods: {
    //Function gets from each slider the value and sends the data back to the parent
    nextPage() {
      this.$parent.assignmentsExplanation(
        this.valueTextverarbeitung,
        this.valueTabellenkalkulation,
        this.valuePräsentationserstellung,
        this.valueBildbearbeitung,
        this.valueProgrammieren,
        this.valueComputerspielen,
        this.valueEmail,
        this.valueInternetSurfen,
        this.valueInformationssuche,
        this.valueOnlineShopping,
        this.valueOnlineBanking
      );
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  color: #42b983;
}
</style>
