<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 CLS-Adaptive
      p
        strong ClS-Adaptive: 
        | Der CLS-Adaptive ist ein interaktiver Test, mit dem digitale Kompetenzen gemessen werden können.
        br
        |Sie wurden eingeladen, an einer Testgruppe teilzunehmen. Um dies zu tun muss nur auf den Link geklickt und der Test ausgefüllt werden.
        br
        |Der Test dauert nur 3-5 Minuten und Sie erhalten am Ende ein Feedback zum Ergebnis.
        br
        a(href=otherProperty) Zum Test