<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 CLS-Adaptive
      p
        strong ClS-Adaptive: 
        | The cls-adaptive is an online questionnaire to measure digital competences.
        br
        | You have been invited to participate in a test group. To start the test follow the link.
        br
        | The test takes 3-5 minutes and you will receive a feedback at the end.
        br
        a(href=otherProperty) To the test