<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 CLS-Adaptive
      p
        strong ClS-Adaptive: 
        | The cls-adaptive is an online questionnaire to measure digital competences.
        br
        | To change the password of your account follow the link.
        br
        a(href=otherProperty) Change password