<!DOCTYPE html>
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1 CLS-Adaptive
      p
        strong ClS-Adaptive: 
        | Der CLS-Adaptive ist ein interaktiver Test, mit dem digitale Kompetenzen gemessen werden können.
        br
        |Sie haben einen Account erstellt, um die Registrierung abzuschließen folgen sie dem Link.
        br
        a(href=otherProperty) Registrierung bestätigen