/* Standard values for color and text size */
:root {
    --color-default: #004B5A;
    --color-interaction: #FF6600;
    --color-background: #F2F2F2;
    --font-size-default: 20px;
}

/* Background color for all pages */
body {
    background-color: var(--color-background);
}

/* Basic Style for all div-Container */
.hello {
    font-size: var(--font-size-default);
    text-align: center;
    cursor: default;
}

/* Margin, font-size and cursor for instruction text */
.text-instruction {
    margin: 3vh;
    font-size: var(--font-size-default);
    cursor: default;
}

/* Margin, font-size and cursor for instruction text */
.text-instructionFeedback {
    margin-top: 7.5vh;
    margin-bottom: 3vh;
    font-size: var(--font-size-default);
    cursor: default;
}

/* Margin, font-size and cursor for instruction text */
.text-instructionHistogram {    
    margin: 3vh;
    margin-top: 8vh;
    font-size: var(--font-size-default);
    cursor: default;
}

/* Margin, font-size and cursor for instruction text */
.text-instructionIdentification {
    margin-top: 5vw;    
    font-size: var(--font-size-default);
    cursor: default;
}

/* Margin, font-size and cursor for instruction text */
.text-instructionExplanation {
    margin-top: 1vw;    
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: var(--font-size-default);
    cursor: default;
}

/* font-size and font-weight for information text */
.text-info {
    font-size: 16px;
    font-weight: bold;
}

/* Basic style for every Button */
#startButton, #nextButton, #admin {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    margin-top:10vh;
    margin-bottom: 10vh;
    text-transform: none;
}

#archivePageButtonLeft {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    text-transform: none;
    margin-right: 5vw;
}

#archivePageButtonRight {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    text-transform: none;
    margin-left: 5vw;
}

#loginButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    margin-bottom: 10vh;
    text-transform: none;
}

#adminButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    margin-top:10vh;
    margin-bottom: 1vh;
    text-transform: none;
}

#archiveButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    width: 20vw;
    height: 7vh;
    border-radius: 0px 10px 10px 0px;   
    border: 2px solid var(--color-default) !important; 
    box-shadow: none;
    text-transform: none;
}

#archiveButtonExpanded {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    width: 20vw;
    height: 7vh;
    border-radius: 0px 10px 0px 0px;   
    border: 2px solid var(--color-default) !important; 
    box-shadow: none;
    text-transform: none;
}

#archiveButtonLive {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    width: 20vw;
    height: 7vh;
    border: 2px solid var(--color-default) !important;
    border-right: px solid var(--color-default) !important;
    border-radius: 0px;    
    box-shadow: none;
    text-transform: none;
}

#readDatabaseButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    width: 20vw;
    height: 7vh;
    border: 2px solid var(--color-default) !important;
    border-right: 1px solid var(--color-default) !important;
    border-radius: 0px;    
    box-shadow: none;
    text-transform: none;
}

#readDatabaseButtonFinal {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    width: 20vw;
    height: 7vh;
    border: 2px solid var(--color-default) !important;
    border-radius: 0px 10px 10px 0px;  
    box-shadow: none;
    text-transform: none;
}

/* Button to get from adming page to homepage */
#backButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    margin-top:1vh;
    margin-bottom: 3vh;
    text-transform: none;
}

#expandButton {
    background-color: var(--color-interaction);
    color: #FFF;
    font-size: 22px;
    margin-bottom: 1vh;
    text-transform: none;
}

/* Button-height for button on Homepage */
#startButton, #admin {
    height: 7vh;
}

@media screen and (max-width:449px) {
    /* Button for admin page centered on little screen */
    #admin {
        margin-left: 0 !important;
    }
}

/* Basic style for blue Header on all pages */
#header {
    background-color: var(--color-default);
    margin-bottom: 20pt;
    cursor: default;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
}

/* Style for text within the header */
#header-title, #homepage-header-title {
    font-size: 30px;
    color: #FFF;
}

/* Max width for v-row elements to prevent horizontal scrolling */
.vrow {
    max-width: 98vw !important;
}

/* Border color and text margin of input fields */
.input {
    color: var(--color-interaction);
    width: 20vw;
    margin-left: 2vw;
    margin-right: 2vw;
    max-width: 25vw;
}

.inputItemDifficulty {
    margin-left: 45vw;
    max-width: 10vw;
}

.inputItemInformation {
    margin-left: 15vw;
    max-width: 70vw;
}

.inputEmail {
    margin-left: 30vw;
    max-width: 40vw;
}

.inputCreation {
    margin-left: 35vw;
    max-width: 30vw;
}

.inputIdentification {
    margin-left: 40vw;
    max-width: 20vw;
}

/*sets the background color from the ul container in usecases.vue to color-background */
.slider-bg{
    background-color: var(--color-background);
}

/*defines the sytle of the example slider*/
.sliderReadonly{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 10vh;
    max-width: 75vw;
}
/* Prefix of input fields when screen-width < 404px */
@media screen and (max-width:404px) {
    .sliderReadonly {
        margin-bottom: 7vh;
    }}

/*defines the color of the labels for the slider*/
.slider {
    color: var(--color-interaction);
}

/* defines the style of the sliders
*   sets the cursor to the pointer image above sliders (to show interaction)
*   font-weight is added to make the font of the labels alittle bolder
*   margin left & right is added to center the sliders 
*/
.v-slider {
    cursor: pointer;
    font-weight: 500;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 5vh;
}

/* Container for Radio Btn */
.radio {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Margin of prograss bar in footer */
.progress {
    margin-left: 10vw;
    margin-right: 10vw;
}

/* Background color of the footer */
.footer {
    background-color:  var(--color-background) !important;
}

/* Text for radio-btn */
.theme--light.v-label {
    color: var(--color-default);
    font-size: var(--font-size-default);
    margin-left: 7px;
}

/* Button for radio-btn */
.theme--light.v-icon {
    color: var(--color-interaction);
    font-size: 30px;
}

/* Border color of input fields before on-click */
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: var(--color-interaction);
 
}

/* Hover effect of input fields */
.theme--light.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover:before {
    border-color: var(--color-interaction);
    border-bottom-width: 2px;
}

/* Text in input fields */
.theme--light.v-input:not(.v-input--is-disabled) input {
    color: var(--color-default);
    font-size: var(--font-size-default);
}

/* Prefix of input fields */
.input-prefix {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    color: var(--color-default);
    margin-left: 30vw;
    font-size: var(--font-size-default);
    cursor: default;
}

/* Prefix of input fields when screen-width < 404px */
@media screen and (max-width:404px) {
.input-prefix {
    margin-left: 20vw;
}}

/* Suffix of input fields */
.input-suffix {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    color: var(--color-default);
    font-size: var(--font-size-default);
    cursor: default;
}

/* Color for ticks of slider */
.v-slider__tick {
    background: var(--color-default);
}

/*----------Assignments Screen-----------*/

/* Box for Question */
.qst {
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    height: 30vh;
    margin-left: 12.5vw;   
}

/* Answer Box */
.theme--light.v-card.v-card--outlined {
    border: 3px solid var(--color-default);
    color: var(--color-default);
}

/* Question Box */
.theme--light.v-card.v-card--outlined.d-flex {
    border: 3px solid var(--color-interaction);
    color: var(--color-default);
}

/* Box per text answer */
.d-flex {
    border-radius: 3px ;
    cursor: pointer;
    width: 90vw;
}

/* Smartphone version */
@media screen and (max-width:599px) {
    /* Box for Question */
    .qst {
        width: 90vw;
        margin-left: 5vw;  
    }

    /* Container for text-answers */
    .col-sm-6 {
        width: 100vw;
    }

    /* Container in col-sm-6 container for text-answers */
    .container {
        width: 90vw !important;
        padding: 0 !important;
        margin: 0 !important;
    }

    /* Container for all answers */
    .rowAnsw {
        width: 100vw !important;
        padding: 0 !important;
        padding-left: 5vw !important;
        margin-left: -2vw !important;
    }

    /* Text answers */
    .col-7 {
        flex: 0 0 100vw;
        max-width: 100vw;
        width: 100vw;
        padding: 2vw;
    }

    /* Img answers */
    .col-3 {
        padding: 2vw;
    }
}

/* Desktop version */
@media screen and (min-width:600px) {
    /* Box for Question */
    .qst {
        width: 71vw;
        height: 10vh;
        padding: 0;
        margin: 0;
        margin-left: 14.5vw;
    }

    /* Container for icon answers */
    .row {
        margin: 0;
    }

    /* Container for text-answers */
    .col-sm-6 {
        flex: 0 0 75vw;
        max-width: 75vw;
        padding: 0;
        margin: 0;
        margin-left: 12.5vw;
    }

    /* Container in col-sm-6 container for text-answers */
    .container {
        margin: 0;
        padding: 0;
    }

    .col {
        padding: 2vw;
    }

    /* One text answer button */
    .col-7 {
        flex: 0 0 75vw;
        max-width: 75vw;
    }

    /* Padding for text answers */
    #textAnsw{
        padding: 0.5vw;
    }
}

/* Pop-Up Error message when Inputs not filled */
#snack {
    font-size: var(--font-size-default);
    color: #FFF;
    width: 100vw;
}

/* Box for Pop-Up Error Messages */
.v-snack__wrapper {
    background-color: var(--color-default);
    margin-bottom: 25vh;
}

/*----------Homepage-----------*/

/* Button in Header to jump to different sections */
#homepage-header-btn {
    padding: 1vw !important;
    color: #fff
}

/* Max width for the Header */
.v-toolbar {
    max-width: 100vw;
}

/* Toolbar Button */
.theme--light.v-btn {
    color: #004B5A;
}

/* line to divide pages*/
.divider {
    background: var(--color-interaction);
    width: 75vw;
    margin-left: 12.5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Title of sub-pages */
.text-title {
    margin-top: 8vh;
    margin-bottom: 3vh;
    font-size: 25px;
    cursor: default;
}

/* Content of sub-pages */
.text-content {
    font-size: 18px;
    cursor: default;
    width: 50vw;
    margin-left: 25vw;
}

/* Header title is hidden for smartphone version */
@media screen and (max-width:866px) {
    #homepage-header-title {
        visibility: hidden !important;
    }
}

/* Text and homepage on Homepage for smartphone version */
@media screen and (max-width:599px) {
    #homepage-header-btn {
        font-size: 3vw;
        color: #fff
    }

    .text-content {
        width: 90vw;
        margin-left: 5vw;
    }
}

/* Buttons in toolbar gets hidden when overflow */
#homepage-toolbar-items {
    overflow-wrap: hidden;
}

/* Second header on Homepage (Uni-Logo) */
#homepage-header {
    background-color: var(--color-background);
    margin-bottom: 0;
    cursor: default;
}

/* Card environments for text elements */
#home, #cls, #contact, #privacy, #dsgvo {
    background-color: var(--color-background);
    box-shadow: none;
}

/* Text color */
.theme--light.v-card > .v-card__text {
    color: var(--color-default);
    padding: 0;
}

/* Icon Button to scroll to top */
.to-top {
    background: var(--color-default);
    cursor: pointer;
    width: 3vw;
    border-radius: 2px;
    position: fixed;
    float: none;
    bottom: 5vh;
    right: 0vw;
    margin-right: 3vw;
    margin-bottom: 5vh;
}

/* Hover effect for Icon Button (to scroll to top) */
.to-top:hover {
    background: var(--color-interaction);
}

/* To-top button for smartphone version */
@media screen and (max-width:599px) {
    .to-top {
        width: 10vw;
        float: right;
    }
    .to-top:hover {
        background: var(--color-default);
    }
}


/* Text within the footer */
.footer-info {
    font-size: var(--font-size-default);
    color: #fff !important;
}

/* Footer basic style */
#footer-h-page {
    background: var(--color-default);
    width: 100vw;
    margin-top: 3vh;
}

/* Divider within the footer */
#footer-divider {
    margin-top:1vh; 
    margin-bottom:1vh; 
    width:50vw; 
    background:#89D2DC; 
    margin-left:25vw;
}

.textArea {
    margin-left: 40vw;
    width: 20vw;
}

.cMarks {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #004B5A;
    background-color: #fff;
  }

.cMarks.active {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #004B5A;
    background-color: #fff;
}

.vue-slider {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 8vh;
}

.vue-slider-rail {
    background-color: #FF6600;
    border-radius: 15px;
    transition: background-color 0.3s;
  }

.vue-slider-process {
    background-color: #FF6600;
    border-radius: 15px;
}

.vue-slider-mark-step-active {
    box-shadow: 0 0 0 0px #FF6600;
  }

.vue-slider-dot-handle {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FF6600;
  }

.vue-slider-dot-handle-focus {
    border-color: #FF6600;
    box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}

.vue-slider-marks {
    color:#FF6600;
    font-weight: bold;
}

.column {
    margin-left: 10vw;
    vertical-align: center;
}

.dataTable {
    margin-left: 20vw;
    max-width: 60vw;    
}

.readDatabaseGrid {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.archiveGrid {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.archiveCard {
    height: 7vh;
    text-align: center;
    padding-top: 2vh;
    /*padding-top: 2.5vh;
    padding-bottom: 2vh;*/
    border: 2px solid var(--color-default) !important;
    border-right: 1px solid var(--color-default) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.archiveCard-expand {
    height: 25vh;
    text-align: center;
    padding-top: 2vh;
    /*padding-top: 2.5vh;
    padding-bottom: 2vh;*/
    border: 2px solid var(--color-default) !important;
    border-top: 0px solid var(--color-default) !important;
    border-radius: 0px 0px 10px 10px !important;
    box-shadow: none !important;
}

.archiveCard-Double {
    height: 7vh;
    text-align: center;
    padding-top: 1vh;
    /*padding-top: 2.5vh;
    padding-bottom: 2vh;*/
    border: 2px solid var(--color-default) !important;
    border-right: 1px solid var(--color-default) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.archiveCard-start {
    height: 7vh;
    padding-top: 2vh;   
    border: 2px solid var(--color-default) !important;
    border-right: 1px solid var(--color-default) !important;
    border-radius: 10px 0px 0px 10px !important;
    box-shadow: none !important;
}

.archiveCard-startExpanded {
    height: 7vh;
    padding-top: 2vh;   
    border: 2px solid var(--color-default) !important;
    border-right: 1px solid var(--color-default) !important;
    border-radius: 10px 0px 0px 0px !important;
    box-shadow: none !important;
}

.archiveCard-example {
    height: 7vh;
    padding-top: 1vh;   
    border: 2px solid var(--color-default) !important;
    border-right: 3px solid var(--color-default) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.archiveCard-final {
    height: 7vh;
    padding-top: 3.5%;
    border: 2px solid var(--color-default) !important;
    border-right: 3px solid var(--color-default) !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}

.archiveRow {
    margin-bottom: 2vh;
}

.v-application {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*max-width: 0;*/
}

.v-application--wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*min-height: vh;
    max-width: 0;*/
    position: relative;
}

.overflowCreation {
    margin-left: 45vw;
    max-width: 10vw;
}

.fileInput {
    margin-left: 40vw;
    max-width: 20vw;
}

.imgExplanation {
    margin-left: 30vw;
    max-width: 40vw;
}

.chartResult {
    padding-top: 5vw;
    max-width: 50vw;
    margin-left: 25vw;
}

.customCol {
    width: 10%;
    max-width: 10%;
    flex-basis: 10%;
}

.customColRadio {
    width: 20%;
    max-width: 20%;
    flex-basis: 20%;
}

.customColHistogram {
    width: 40%;
    max-width: 40%;
    flex-basis: 40%;
}

.dateInput {
    margin-left: 4vw;
    width: 10vw;
}

.checkboxTime {
    align-items: center;
    justify-content: center;
}

.checkboxModule {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
}

.histogram {
    margin-top: 2vh;
}